openapi: 3.2.0
info:
  title: Orderly Network Public API
  version: 1.0.0
  description: 'Operations tagged public across 2 of this provider''s published API definitions: orderly-network-openapi-original.yml, orderly-network-strategy-vault-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.orderly.org
  description: Mainnet
- url: https://testnet-api.orderly.org
  description: Testnet
- url: https://api-sv.orderly.org
  description: Mainnet
- url: https://testnet-api-sv.orderly.org
  description: Testnet
tags:
- name: public
paths:
  /v1/public/futures:
    get:
      summary: Get market info for all symbols
      deprecated: false
      description: '

        **Limit: 10 requests per 1 second per IP address**


        `GET /v1/public/futures`


        Get basic market information for all the symbols.

        '
      tags:
      - public
      parameters: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FuturesInfoResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/ip_info:
    get:
      summary: Get IP info
      deprecated: false
      description: '

        **Limit: 10 requests per 1 second per IP address**


        `GET /v1/ip_info`


        Returns the detected IP address and location metadata for the calling client.

        '
      tags:
      - public
      parameters: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetIpInfoResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/public/futures_market:
    get:
      summary: Get market volume by builder
      deprecated: false
      description: '

        **Limit: 10 requests per 1 second per IP address**


        `GET /v1/public/futures_market`


        Returns market-level trading volume data. Use `symbol` to filter by market and `broker_id` to filter by builder.

        '
      tags:
      - public
      parameters:
      - name: symbol
        in: query
        description: Filter results to a specific market symbol, for example `PERP_ETH_USDC`.
        required: false
        schema:
          type: string
      - name: broker_id
        in: query
        description: Filter results to a specific broker ID.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMarketVolumeByBrokerResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/public/balance/stats:
    get:
      summary: Get TVL by builder
      deprecated: false
      description: '

        **Limit: 10 requests per 1 second per IP address**


        `GET /v1/public/balance/stats`


        Returns TVL (total balance plus unsettled PnL), optionally filtered by broker ID.

        '
      tags:
      - public
      parameters:
      - name: broker_id
        in: query
        description: When omitted, returns TVL for all brokers.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTVLByBrokerResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/public/market_trades:
    get:
      summary: Get market trades
      deprecated: false
      description: '

        **Limit: 10 requests per 1 second per IP address**


        `GET /v1/public/market_trades`


        Get the latest market trades.

        '
      tags:
      - public
      parameters:
      - name: symbol
        in: query
        description: Symbol to query, for example `PERP_BTC_USDC`.
        required: true
        example: PERP_NEAR_USDC
        schema:
          type: string
      - name: limit
        in: query
        description: Numbers of trades want to query.
        required: false
        example: '10'
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketTradesResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/public/market_info/price_changes:
    get:
      summary: Get price info for all symbols
      deprecated: false
      description: "\n**Limit: 10 requests per 1 second per IP address**\n\n`GET /v1/public/market_info/price_changes`\n\nReturn the current price and the price 5m, 30m, 1h, 24h, 3d, 7d, 30d ago for all symbols\n\nExamples:\n\n- Now: 11:06:30 (2024-07-11)  \n\n- 5m: 11:01:00 (2024-07-11)\n\n- 30m: 10:36:00 (2024-07-11)\n\n- 1h: 10:06:00 (2024-07-11)\n\n- 4h: 07:06:00 (2024-07-11)\n\n- 24h: 11:06:00 (2024-07-10)\n\n- 3d: 00:00:00 (2024-07-08)\n\n- 7d: 00:00:00 (2024-07-04)\n\n- 30d: 00:00:00 (2024-06-11)\n"
      tags:
      - public
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketPriceChangeInfoResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/public/market_info/traders_open_interests:
    get:
      summary: Get open interests for all symbols
      deprecated: false
      description: '

        **Limit: 10 requests per 1 second per IP address**


        `GET /v1/public/market_info/traders_open_interests`


        Return the long/short Open Interests for all symbols (mm accounts are excluded).

        '
      tags:
      - public
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketOpenInterestsResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/public/market_info/history_charts:
    get:
      summary: Get historical price list for all symbols
      deprecated: false
      description: '

        **Limit: 10 requests per 1 second per IP address**


        `GET /v1/public/market_info/history_charts`


        Return the close price for all symbols

        '
      tags:
      - public
      parameters:
      - name: time_interval
        in: query
        description: ''
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPriceForSmallChartsResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/public/market_info/funding_history:
    get:
      summary: Get funding rate for all markets
      deprecated: false
      description: '

        **Limit: 10 requests per 1 second per IP address**


        `GET /v1/public/market_info/funding_history`

        '
      tags:
      - public
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMarketFundingRateHistoryResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/public/volume/stats:
    get:
      summary: Get builder volume
      deprecated: false
      description: '

        **Limit: 10 requests per 1 second per IP address**


        `GET /v1/public/volume/stats`


        Returns the latest trading volume statistics for Orderly and its associated builders. For a specific builder, volume is calculated as maker volume plus taker volume. Platform-wide volume counts each matched trade once.

        '
      tags:
      - public
      parameters:
      - name: broker_id
        in: query
        description: Filter results to a specific broker ID.
        required: false
        example: test_broker
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolumeStatsResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/public/broker/stats:
    get:
      summary: Get builder stats
      deprecated: false
      description: '

        **Limit: 10 requests per 1 second per IP address**


        `GET /v1/public/broker/stats?broker_id={broker_id}`


        Returns statistics for builders on Orderly. Use `broker_id` to limit the response to a single builder.

        '
      tags:
      - public
      parameters:
      - name: broker_id
        in: query
        description: Filter results to a specific broker ID.
        required: false
        example: test_broker
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrokerStatsResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/public/broker/name:
    get:
      summary: Get builder list
      deprecated: false
      description: '

        **Limit: 10 requests per 1 second per IP address**


        `GET /v1/public/broker/name?broker_id={broker_id}`


        Returns the list of builders currently onboarded to Orderly. Use `broker_id` to retrieve a single builder entry.

        '
      tags:
      - public
      parameters:
      - name: broker_id
        in: query
        description: Filter results to a specific broker ID.
        required: false
        example: test_broker
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrokerListResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/public/funding_rates:
    get:
      summary: Get predicted funding rates for all markets
      deprecated: false
      description: "\n**Limit: 10 requests per 1 second per IP address**\n\n`GET /v1/public/funding_rates`\n\nGet predicted funding rates for all futures trading pairs.\n\nGet the : \n* `last_funding_rate` : latest hourly funding rate for all the markets for the last funding period (dt = 8h)\n* `est_funding_rate` : rolling average of all funding rates over the last 8 hours"
      tags:
      - public
      parameters: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundingRatesResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/public/funding_rate/{symbol}:
    get:
      summary: Get predicted funding rate for one market
      deprecated: false
      description: '

        **Limit: 30 requests per 1 second per IP address**


        `GET /v1/public/funding_rate/{symbol}`


        Get latest funding rate for one market.

        '
      tags:
      - public
      parameters:
      - name: symbol
        in: path
        description: ''
        required: true
        example: PERP_ETH_USDC
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundingRateResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/public/funding_rate_history:
    get:
      summary: Get funding rate history for one market
      deprecated: false
      description: '

        **Limit: 10 requests per 1 second per IP address**



        `GET /v1/public/funding_rate_history`



        Get funding rate history for one market.

        '
      tags:
      - public
      parameters:
      - name: symbol
        in: query
        description: ''
        required: true
        example: PERP_NEAR_USDC
        schema:
          type: string
      - name: start_t
        in: query
        description: start time range that you wish to query, noted that the time stamp is a 13-digits timestamp.
        required: false
        example: ''
        schema:
          type: number
      - name: end_t
        in: query
        description: end time range that you wish to query, noted that the time stamp is a 13-digits timestamp.
        required: false
        example: ''
        schema:
          type: number
      - name: page
        in: query
        description: the page you wish to query. start from 1
        required: false
        example: ''
        schema:
          type: number
      - name: size
        in: query
        description: 'Default: 60'
        required: false
        example: ''
        schema:
          type: number
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundingRateHistoryResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/public/futures/{symbol}:
    get:
      summary: Get market info for one symbol
      deprecated: false
      description: '

        **Limit: 10 requests per 1 second per IP address**


        `GET /v1/public/futures/{symbol}`


        Get basic market information for one trading pair.

        '
      tags:
      - public
      parameters:
      - name: symbol
        in: path
        description: ''
        required: true
        example: PERP_ETH_USDC
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FuturesInfoResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/public/liquidation:
    get:
      summary: Get positions under liquidation
      deprecated: false
      description: '**Limit: 10 requests per 1 second per IP address**


        `GET /v1/public/liquidation`


        Returns a list of positions that are currently being liquidated. These are positions where the margin has dropped below the maintenance margin requirement and are in the process of being closed by the liquidation engine.

        '
      tags:
      - public
      parameters:
      - name: start_t
        in: query
        description: start time range that you wish to query, noted that the time stamp is a 13-digits timestamp.
        required: false
        example: ''
        schema:
          type: number
      - name: end_t
        in: query
        description: end time range that you wish to query, noted that the time stamp is a 13-digits timestamp.
        required: false
        example: ''
        schema:
          type: number
      - name: page
        in: query
        description: the page you wish to query. start from 1
        required: false
        example: ''
        schema:
          type: integer
      - name: size
        in: query
        description: 'Default: 60'
        required: false
        example: ''
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiquidationResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/public/liquidated_positions:
    get:
      summary: Get liquidated positions info
      deprecated: false
      description: '

        **Limit: 10 requests per 1 second per IP address**


        `GET /v1/public/liquidated_positions`


        Returns a list of positions that have been fully liquidated. This includes historical data on positions that were closed by the liquidation engine after margin was exhausted.

        '
      tags:
      - public
      parameters:
      - name: symbol
        in: query
        description: Filter results to a specific trading symbol, for example `PERP_ETH_USDC`.
        required: false
        example: PERP_ETH_USDC
        schema:
          type: string
      - name: start_t
        in: query
        description: Start time of the query range as a 13-digit Unix timestamp in milliseconds.
        required: false
        example: ''
        schema:
          type: string
      - name: end_t
        in: query
        description: End time of the query range as a 13-digit Unix timestamp in milliseconds.
        required: false
        example: ''
        schema:
          type: string
      - name: page
        in: query
        description: Page number to return. Starts from 1.
        required: false
        example: ''
        schema:
          type: string
      - name: size
        in: query
        description: Number of records to return per page.
        required: false
        example: ''
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiquidatedPositionsResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/public/info/{symbol}:
    get:
      summary: Get order rules per symbol
      deprecated: false
      description: '

        **Limit: 10 requests per 1 second per IP address**



        `GET /v1/public/info/{symbol}`



        This endpoint provides all the values for the rules that an order need

        to fulfil in order for it to be placed successfully. The rules are

        defined as follows:



        Price filter



        - `price` >= `quote_min`


        - `price` =< `quote_max`


        - `(price - quote_min) % quote_tick` should equal to zero


        - `price` =< `mark_price * (1 + price_range)` when BUY


        - `price` >= `mark_price * (1 - price_range)` when SELL



        Size filter



        - `base_min` =< `quantity` =< `base_max`


        - `(quantity - base_min) % base_tick` should equal to zero



        Min Notional filter



        - `price * quantity` should greater than `min_notional`



        Risk Exposure filer



        - Order size should be within holding threshold. See

        [account_info](/docs/build-on-omnichain/restful-api/private/get-account-information)

        '
      tags:
      - public
      parameters:
      - name: symbol
        in: path
        description: ''
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeInformationResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/public/token:
    get:
      summary: Get supported collateral info
      deprecated: false
      description: '**Limit: 10 requests per 1 second per IP address**


        `GET /v1/public/token`


        Retrieves the available tokens to be used as collateral within Orderly.

        '
      tags:
      - public
      parameters:
      - name: chain_id
        in: query
        description: Filter results by chain_id
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenInfoResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/public/info:
    get:
      summary: Get available symbols
      deprecated: false
      description: '**Limit: 10 requests per 1 second per IP address**


        `GET /v1/public/info`


        Get available symbols that Orderly supports, and also send order rules for each symbol. The definition of rules can be found at [Get Order Rules per Market](/docs/build-on-omnichain/restful-api/public/get-order-rules-per-symbol)

        '
      tags:
      - public
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableSymbolsResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/public/index_price_source:
    get:
      summary: Get index price source
      deprecated: false
      description: '**Limit: 10 requests per 1 second per IP address**


        `GET /v1/public/index_price_source`


        Retrieves the available tokens to be used as collateral within Orderly.

        '
      tags:
      - public
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetIndexPriceSourceResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/public/insurancefund:
    get:
      summary: Get insurance fund info
      deprecated: false
      description: '

        **Limit: 10 requests per 1 second per IP address**


        `GET /v1/public/insurancefund`


        Returns the current balance and risk metrics for the Orderly insurance fund.

        '
      tags:
      - public
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsuranceFundResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/tv/config:
    get:
      summary: Get tradingview localized config info
      deprecated: false
      description: '**Limit: 10 requests per 1 second per IP address**


        `GET /v1/tv/config`

        '
      tags:
      - public
      parameters:
      - name: locale
        in: query
        description: ''
        required: true
        example: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TvConfigResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/tv/history:
    get:
      summary: Get tradingview history bars
      deprecated: false
      description: '**Limit: 10 requests per 1 second per IP address**


        `GET /v1/tv/history?symbol={}&resolution={}&from={}&to={}`

        '
      tags:
      - public
      parameters:
      - name: symbol
        in: query
        description: ''
        required: true
        example: ''
        schema:
          type: string
      - name: resolution
        in: query
        description: ''
        required: true
        example: ''
        schema:
          type: string
      - name: from
        in: query
        description: ''
        required: true
        example: ''
        schema:
          type: string
      - name: to
        in: query
        description: ''
        required: true
        example: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TvHistoryResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/tv/symbol_info:
    get:
      summary: Get tradingview symbol info
      deprecated: false
      description: '**Limit: 10 requests per 1 second per IP address**


        `GET /v1/tv/symbol_info`

        '
      tags:
      - public
      parameters:
      - name: group
        in: query
        description: ''
        required: true
        example: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TvSymbolResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/public/leverage:
    get:
      summary: Get max leverage setting
      deprecated: false
      description: '**Limit: 10 requests per 1 second per IP address**


        `GET /v1/public/leverage`


        Get max leverage setting

        '
      tags:
      - public
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLeverageSettingResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/public/system_info:
    get:
      summary: Get system maintenance status
      deprecated: false
      description: '**Limit: 1 request per 1 second per IP address**


        `GET /v1/public/system_info`


        Returns the current system status for Orderly. `status = 0` indicates normal operation. `status = 2` indicates maintenance mode.'
      tags:
      - public
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemInfoResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/registration_nonce:
    get:
      summary: Get registration nonce
      deprecated: false
      description: '**Limit: 10 requests per 1 second per IP address**


        `GET /v1/registration_nonce`


        Retrieve a nonce used for registering an account on Orderly. The validity of the nonce value is `2` minutes. Each nonce can only be used once (ie for one account).'
      tags:
      - public
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistrationNonceResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/get_account:
    get:
      summary: Check if wallet is registered
      deprecated: false
      description: '**Limit: 10 requests per 1 second per IP address**


        `GET /v1/get_account`


        Check whether a wallet has a registered account with the provided builder ID.

        '
      tags:
      - public
      parameters:
      - name: address
        in: query
        description: The address of the user wallet
        required: true
        example: ''
        schema:
          type: string
      - name: broker_id
        in: query
        description: Builder ID to check for the wallet address.
        required: true
        example: ''
        schema:
          type: string
      - name: chain_type
        in: query
        description: '`EVM` or `SOL`'
        required: false
        example: EVM
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/get_all_accounts:
    get:
      summary: Check account details of an address
      deprecated: false
      description: '**Limit: 10 requests per 1 second per IP address**


        `GET /v1/get_all_accounts`


        Returns all accounts associated with the provided wallet address and builder ID.

        '
      tags:
      - public
      parameters:
      - name: address
        in: query
        description: The address of the user wallet
        required: true
        example: ''
        schema:
          type: string
      - name: broker_id
        in: query
        description: Builder ID whose accounts should be returned.
        required: true
        example: ''
        schema:
          type: string
      - name: chain_type
        in: query
        description: '`EVM` or `SOL`'
        required: false
        example: EVM
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllAccountsResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/get_broker:
    get:
      summary: Check if address is registered
      deprecated: false
      description: '**Limit: 10 requests per 1 second per IP address**


        `GET /v1/get_broker`


        Checks whether an address is already registered and returns the associated builder IDs.

        '
      tags:
      - public
      parameters:
      - name: address
        in: query
        description: Wallet address to check.
        required: true
        example: ''
        schema:
          type: string
      - name: chain_type
        in: query
        description: '`EVM` or `SOL`'
        required: false
        example: EVM
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBrokerResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/register_account:
    post:
      summary: Register account
      deprecated: false
      description: '**Limit: 10 requests per 1 second per IP address**


        `POST /v1/register_account`


        Registers a new account for the provided wallet under the specified builder.

        '
      tags:
      - public
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterAccountBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterAccountResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/get_orderly_key:
    get:
      summary: Get Orderly key
      deprecated: false
      description: '**Limit: 10 requests per 1 second per IP address**


        `GET /v1/get_orderly_key`


        Check the validity of an Orderly access key attached to the account.

        '
      tags:
      - public
      parameters:
      - name: account_id
        in: query
        description: The account id of the user.
        required: true
        example: ''
        schema:
          type: string
      - name: orderly_key
        in: query
        description: The public key of the Orderly access key.
        required: true
        example: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderlyKeyResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/orderly_key:
    post:
      summary: Add Orderly key
      deprecated: false
      description: '**Limit: 10 requests per 1 second per IP address**


        `POST /v1/orderly_key`


        Adds an orderly key to an account.


        A main account''s orderly key can manage its sub accounts.

        '
      tags:
      - public
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderlyKeyBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderlyKeyResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/public/config:
    get:
      summary: Get leverage configuration
      deprecated: false
      description: '

        **Limit: 10 requests per 1 second per IP address**


        `GET /v1/public/config`


        Returns the leverage configuration available to users on Orderly.

        '
      tags:
      - public
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/public/chain_info:
    get:
      summary: Get supported chains per builder
      deprecated: false
      description: '**Limit: 10 requests per 1 second per IP address**


        `GET /v1/public/chain_info`


        Returns the chains supported by the specified builder. When `broker_id` is omitted, the response includes all supported chains.

        '
      tags:
      - public
      parameters:
      - name: broker_id
        in: query
        description: Filter results to a specific broker ID.
        required: false
        example: woofi_pro
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChainInfoResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/kline:
    get:
      summary: Get kline
      deprecated: false
      description: '

        **Limit: 10 requests per 1 second**


        `GET /v1/kline`


        Get the latest klines (OHLC) of the specified symbol.


        Please note that for symbols with low trading activity, the kline might be generated through the mid price of the orderbook in addition to any executed trades on the platform.

        '
      tags:
      - public
      parameters:
      - name: symbol
        in: query
        description: ''
        required: true
        example: PERP_BTC_USDC
        schema:
          type: string
      - name: type
        in: query
        description: 1m/5m/15m/30m/1h/4h/12h/1d/1w/1mon/1y
        required: true
        example: ''
        schema:
          type: string
      - name: limit
        in: query
        description: Numbers of klines. Maximum of 1000 klines.
        required: false
        example: ''
        schema:
          type: number
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KlineResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/tv/kline_history:
    get:
      summary: Get kline history
      deprecated: false
      description: '

        **Limit: 5 request per 10 second per IP address**


        `GET /v1/tv/kline_history`


        Get the historical klines of the specified symbol

        '
      tags:
      - public
      parameters:
      - name: symbol
        in: query
        description: Symbol name
        required: true
        example: PERP_BTC_USDC
        schema:
          type: string
      - name: resolution
        in: query
        description: '`1m/5m/15m/30m/1h/4h/12h/1d/1w/1mon`'
        required: true
        example: 1d
        schema:
          type: string
      - name: from
        in: query
        description: If the range from from to to contains 1200 klines, only 1000 klines will be returned, starting from to and moving backward (due to the limit).
        required: false
        example: '1761926400'
        schema:
          type: string
      - name: to
        in: query
        description: If the range from from to to contains only 500 klines, then all 500 will be returned, starting from to and moving backward.
        required: false
        example: '1762790400'
        schema:
          type: string
      - name: limit
        in: query
        description: Numbers of klines you want to query.  Maximum of 1000 klines allowed.
        required: false
        example: '1000'
        schema:
          type: number
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KlineHistoryResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/public/vault_balance:
    get:
      summary: Get vault balance
      deprecated: false
      description: Returns the current vault balance by chain and token. Use `chain_id` and `token` to narrow the result set.
      tags:
      - public
      parameters:
      - name: chain_id
        in: query
        description: Chain ID to query. Use `900900900` for Solana.
        required: false
        example: ''
        schema:
          type: string
      - name: token
        in: query
        description: Token symbol to query, for example `USDC`. If omitted, returns all supported tokens.
        required: false
        example: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultBalanceResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/faucet/usdc:
    post:
      servers:
      - url: https://testnet-operator-evm.orderly.org
      - url: https://testnet-operator-sol.orderly.org
      summary: Get faucet usdc(testnet only)
      deprecated: false
      description: 'Testnet-only endpoint for requesting faucet USDC.


        `POST https://testnet-operator-evm.orderly.org/v1/faucet/usdc`


        `POST https://testnet-operator-sol.orderly.org/v1/faucet/usdc`


        EVM testnet claims receive 1,000 USDC. Solana testnet claims receive 100 USDC.


        Each account can claim from the faucet up to 5 times.


        Use the EVM operator domain for EVM addresses and the Solana operator domain for Solana addresses. Do not use a mainnet domain.'
      tags:
      - public
      requestBody:
        content:
          application/json:
            schema:
              required:
              - user_address
              - broker_id
              type: object
              properties:
                chain_id:
                  type: string
                  description: Destination chain ID for EVM faucet deposits. Omit this field for Solana.
                user_address:
                  type: string
                  description: Wallet address that will receive the test USDC. For Solana, provide a base58 address such as `Zions51qQNUgWNyp4JegUFoMUpgFx43jBUsYmHtDPdr`.
                broker_id:
                  type: string
                  description: Broker ID associated with the receiving account.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/public/account:
    get:
      summary: Check if account exists
      deprecated: false
      description: '**Limit: 10 requests per 1 second per IP address**


        `GET /v1/public/account`


        Check if provided account account is registered with Orderly and it''s respective builder.'
      tags:
      - public
      parameters:
      - name: account_id
        in: query
        description: ''
        required: false
        example: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountDetailsResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/public/announcement:
    get:
      summary: Get announcements
      deprecated: false
      description: '**Limit: 10 requests per 1 second per IP address**


        `GET /v1/public/announcement`


        Returns active platform announcements published by Orderly.'
      tags:
      - public
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAnnouncementsResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/public/referral/check_ref_code:
    get:
      summary: Check referral code
      deprecated: false
      description: '**Limit: 10 requests per 1 second per IP address**



        `GET /v1/public/referral/check_ref_code`

        '
      tags:
      - public
      parameters:
      - name: account_id
        in: query
        description: ''
        required: true
        example: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckReferralCodeResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/public/referral/verify_ref_code:
    get:
      summary: Verify referral code
      deprecated: false
      description: '**Limit: 10 requests per second**



        `GET /v1/public/referral/verify_ref_code`

        '
      tags:
      - public
      parameters:
      - name: referral_code
        in: query
        description: ''
        required: true
        example: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyReferralCodeResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/public/points/leaderboard:
    get:
      summary: Get merits leaderboard
      deprecated: false
      description: '**Limit: 10 requests per 1 second per IP address**


        `GET /v1/public/points/leaderboard`

        '
      tags:
      - public
      parameters:
      - name: start_r
        in: query
        description: Starting rank you wish to query
        required: false
        example: ''
        schema:
          type: integer
      - name: end_r
        in: query
        description: Ending rank you wish to query
        required: false
        example: ''
        schema:
          type: integer
      - name: epoch_id
        in: query
        description: the epoch for which you want to check the leaderboard
        required: false
        example: ''
        schema:
          type: integer
      - name: page
        in: query
        description: start from 1
        required: false
        example: ''
        schema:
          type: integer
      - name: size
        in: query
        description: ''
        required: false
        example: ''
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPointsLeaderboardResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/client/points:
    get:
      summary: Get user's merits
      deprecated: false
      description: '**Limit: 10 requests per 1 second per user**


        `GET /v1/client/points`

        '
      tags:
      - public
      parameters:
      - name: address
        in: query
        description: ''
        required: true
        example: sample_address
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPointsResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/public/points/epoch_dates:
    get:
      summary: Get start and end date of all epochs
      deprecated: false
      description: '**Limit: 10 requests per 1 second per user**


        `GET /v1/public/points/epoch_dates`


        Retrieve the dates of all epochs

        '
      tags:
      - public
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEpochDatesResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/public/points/rankings:
    get:
      summary: Get stage rankings
      deprecated: false
      description: '**Limit: 10 requests per 1 second per user per IP address**


        `GET /v1/public/points/rankings`


        Returns the rankings for a specific stage.


        Note: Need to aggregate the point data from all sub accounts with the same address.

        '
      tags:
      - public
      parameters:
      - name: stage
        in: query
        description: Filter by Stage
        required: true
        schema:
          type: number
      - name: page
        in: query
        description: Page number
        schema:
          type: number
          default: 1
      - name: size
        in: query
        description: Items per page
        schema:
          type: number
          default: 20
      - name: period
        in: query
        description: Filter by period (`all_time`/`last_week`/`this_week`)
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetStageRankingsResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/public/points/epoch:
    get:
      summary: Get number of merits for distribution
      deprecated: false
      description: '**Limit: 10 requests per 1 second per user per IP address**


        `GET /v1/public/points/epoch`


        Retrieve the number of merits for past epochs and current epoch

        '
      tags:
      - public
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEpochPointsResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/public/points/stages:
    get:
      summary: Get information about stages
      deprecated: false
      description: '**Limit: 10 requests per 1 second per user per IP address**


        `GET /v1/public/points/stages`


        Returns information about stages.

        '
      tags:
      - public
      parameters:
      - name: stage_id
        in: query
        description: Filter by specific Stage, return all if empty
        schema:
          type: number
      - name: status
        in: query
        description: Filter by status (`completed`/`active`), return all if empty except pending
        schema:
          type: string
      - name: broker_id
        in: query
        description: Filter by Broker
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPointStagesResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/delegate_signer:
    post:
      summary: Delegate signer
      deprecated: false
      description: '**Limit: 1 requests per second**


        `POST /v1/delegate_signer`


        Registers a delegate signer relationship for an account using a wallet-signed message.

        '
      tags:
      - public
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DelegateSignerBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DelegateSignerResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/delegate_orderly_key:
    post:
      summary: Add delegate signer Orderly key
      deprecated: false
      description: '**Limit: 1 requests per second**


        `POST /v1/delegate_orderly_key`


        Adds an orderly key for a delegate signer after the delegate relationship has been authorized.

        '
      tags:
      - public
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DelegateOrderlyKeyBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderlyKeyResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/public/campaigns:
    get:
      summary: Get list of campaigns
      deprecated: false
      description: '**Limit: 10 requests per 1 second per IP address**


        `GET /v1/public/campaigns`

        '
      tags:
      - public
      parameters:
      - name: start_t
        in: query
        description: ''
        required: false
        example: ''
        schema:
          type: integer
      - name: end_t
        in: query
        description: ''
        required: false
        example: ''
        schema:
          type: integer
      - name: only_show_alive
        in: query
        description: ''
        required: false
        example: ''
        schema:
          type: string
      - name: address
        in: query
        description: Filter the list that this address has participated in.
        required: false
        example: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCampaignsResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/public/campaign/stats:
    get:
      summary: Get campaign statistics
      deprecated: false
      description: '**Limit: 10 requests per 1 second per IP address**


        `GET /v1/public/campaign/stats`

        '
      tags:
      - public
      parameters:
      - name: campaign_id
        in: query
        description: ''
        required: true
        example: ''
        schema:
          type: integer
      - name: broker_id
        in: query
        description: ''
        required: false
        example: ''
        schema:
          type: string
      - name: symbol
        in: query
        description: ''
        required: false
        example: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCampaignStatsResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/public/campaign/stats/details:
    get:
      summary: Get detailed campaign info
      deprecated: false
      description: '**Limit: 10 requests per 1 minute per IP address**


        `GET /v1/public/campaign/stats/details`

        '
      tags:
      - public
      parameters:
      - name: campaign_id
        in: query
        description: ''
        required: true
        example: ''
        schema:
          type: integer
      - name: broker_id
        in: query
        description: ''
        required: false
        example: ''
        schema:
          type: string
      - name: symbols
        in: query
        description: ''
        required: false
        example: ''
        schema:
          type: string
      - name: group_by
        in: query
        description: One of `BROKER`  `SYMBOL`  `NONE`
        required: false
        example: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCampaignDetailedStatsResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/public/campaign/ranking:
    get:
      summary: Get campaign ranking
      deprecated: false
      description: '**Limit: 10 requests per 1 second per IP address**


        `GET /v1/public/campaign/ranking`

        '
      tags:
      - public
      parameters:
      - name: campaign_id
        in: query
        description: ''
        required: true
        example: ''
        schema:
          type: integer
      - name: broker_id
        in: query
        description: ''
        required: false
        example: ''
        schema:
          type: string
      - name: page
        in: query
        description: start from 1
        required: false
        example: ''
        schema:
          type: integer
      - name: size
        in: query
        description: ''
        required: false
        example: ''
        schema:
          type: integer
      - name: sort_by
        in: query
        description: '`volume`/`pnl`'
        required: false
        example: ''
        schema:
          type: string
      - name: min_pnl
        in: query
        description: Return only records where PnL is greater than or equal to this value.
        required: false
        example: '1000'
        schema:
          type: integer
      - name: min_volume
        in: query
        description: Return only records where Volume is greater than or equal to this value.
        required: false
        example: '5000'
        schema:
          type: integer
      - name: aggregate_by
        in: query
        required: false
        example: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCampaignRankingResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/public/campaign/user:
    get:
      summary: Get campaign user info
      deprecated: false
      description: '**Limit: 10 requests per 1 second per IP address**


        `GET /v1/public/campaign/user`

        '
      tags:
      - public
      parameters:
      - name: campaign_id
        in: query
        description: ''
        required: true
        example: ''
        schema:
          type: integer
      - name: account_id
        in: query
        description: ''
        required: false
        example: ''
        schema:
          type: string
      - name: address
        in: query
        description: ''
        required: false
        example: ''
        schema:
          type: string
      - name: broker_id
        in: query
        description: ''
        required: false
        example: ''
        schema:
          type: string
      - name: symbol
        in: query
        description: ''
        required: false
        example: []
        schema:
          type: array
          items:
            type: string
            example: PERP_WOO_USDC
      - name: order_tag
        in: query
        description: Filter by a custom tag assigned to the order.
        required: false
        example: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCampaignUserResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/public/campaign/check:
    get:
      summary: Get campaign verification
      deprecated: false
      description: '**Limit: 10 requests per 1 second per IP address**


        `GET /v1/public/campaign/check`

        '
      tags:
      - public
      parameters:
      - name: campaign_id
        in: query
        description: ''
        required: true
        example: 10
        schema:
          type: number
      - name: type
        in: query
        description: '`volume`/`deposit`/`withdraw`/`order_count`'
        required: true
        example: ''
        schema:
          type: string
      - name: address
        in: query
        description: ''
        required: true
        example: ''
        schema:
          type: string
      - name: lower_boundary
        in: query
        description: ''
        required: true
        example: 100
        schema:
          type: number
      - name: cmp
        in: query
        description: '`gt`/`ge`/`le`/`lt`, default `gt`'
        required: false
        example: gt
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCampaignCheckResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/staking/overview:
    get:
      summary: Get staking overview
      deprecated: false
      description: '**Limit: 10 requests per 1 second per IP address**



        `GET /v1/staking/overview`

        '
      tags:
      - public
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetStakingOverviewResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/staking/valor/batch_info:
    get:
      summary: Get valor batch info
      deprecated: false
      description: '**Limit: 10 requests per 1 second per IP address**



        `GET /v1/staking/valor/batch_info`

        '
      tags:
      - public
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetValorBatchInfoResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/staking/valor/pool_info:
    get:
      summary: Get valor pool info
      deprecated: false
      description: '**Limit: 10 requests per 1 second per IP address**



        `GET /v1/staking/valor/pool_info`

        '
      tags:
      - public
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetValorPoolInfoResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/staking/valor2/pool_info:
    get:
      summary: Get valor2 pool info
      deprecated: false
      description: '**Limit: 10 requests per 1 second per IP address**



        `GET /v1/staking/valor2/pool_info`

        '
      tags:
      - public
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetValor2PoolInfoResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/staking/valor2/batch_info:
    get:
      summary: Get valor2 batch info
      deprecated: false
      description: '**Limit: 10 requests per 1 second per IP address**



        `GET /v1/staking/valor2/batch_info`

        '
      tags:
      - public
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetValor2BatchInfoResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/staking/valor2/revenue_buyback:
    get:
      summary: Get valor2 revenue buyback
      deprecated: false
      description: '**Limit: 10 requests per 1 second per IP address**


        Order by batch_id. Display the amount after the batch is claimable.


        `GET /v1/staking/valor2/revenue_buyback`

        '
      tags:
      - public
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetValor2RevenueBuybackResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/public/sv_nonce:
    get:
      summary: Get strategy vault nonce for account transaction
      deprecated: false
      description: '**Limit: 10 requests per 1 second per IP address**


        `GET /v1/public/sv_nonce`

        '
      tags:
      - public
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SvNonceResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/account_sv_transaction_history:
    get:
      summary: Get account’s strategy vault transaction history
      deprecated: false
      description: '`GET /v1/account_sv_transaction_history`


        Get account transaction history with strategy vaults

        '
      tags:
      - public
      parameters:
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      - name: vault_id
        in: query
        description: if vault_id is empty, it will return all vaults
        required: false
        example: ''
        schema:
          type: string
      - name: start_t
        in: query
        description: start time range that you wish to query, noted that the time stamp is a 13-digits timestamp.
        required: false
        example: ''
        schema:
          type: string
      - name: end_t
        in: query
        description: end time range that you wish to query, noted that the time stamp is a 13-digits timestamp.
        required: false
        example: ''
        schema:
          type: string
      - name: page
        in: query
        description: the page you wish to query. start from 1
        required: false
        example: ''
        schema:
          type: string
      - name: size
        in: query
        description: 'Default: 60'
        required: false
        example: ''
        schema:
          type: string
      - name: type
        in: query
        description: deposit/withdraw, if empty = return all
        required: false
        example: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountStrategyVaultTransactionHistory'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/sv_operation_request:
    post:
      summary: Create strategy vault deposit/withdrawal request with account
      description: '

        **Limit: 10 requests per 1 second per IP address**


        `POST /v1/sv_operation_request`


        Deposit into a strategy vault with account balance / withdraw from a strategy vault into your account balance

        '
      tags:
      - public
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: object
                  properties:
                    payloadType:
                      type: number
                      description: LP_DEPOSIT=0/LP_WITHDRAW=1/SP_DEPOSIT=2/SP_WITHDRAW=3
                    nonce:
                      type: string
                      description: ''
                    receiver:
                      type: string
                      description: ''
                    amount:
                      type: string
                      description: ''
                    vaultId:
                      type: string
                      description: ''
                    token:
                      type: string
                      description: ''
                    dexBrokerId:
                      type: string
                      description: ''
                    chainId:
                      type: number
                      description: ''
                    chainType:
                      type: string
                      description: ''
                signature:
                  type: string
                userAddress:
                  type: string
                verifyingContract:
                  type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/sv/venue_transfer_history:
    get:
      summary: Get fund inflow allocation
      description: '

        **Limit: 10 requests per second per IP address**


        `GET /v1/sv/venue_transfer_history`

        '
      tags:
      - public
      parameters:
      - name: period_number
        in: query
        description: ''
        required: false
        schema:
          type: number
      - name: page
        in: query
        description: the page you wish to query start from 1
        required: false
        schema:
          type: number
      - name: size
        in: query
        description: 'the page size you wish to query (max: 500)'
        required: false
        schema:
          type: number
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VenueTransferHistoryResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/sv/venue_withdrawal_history:
    get:
      summary: Get fund outflow allocation
      description: '

        **Limit: 10 requests per second per account**


        `GET /v1/sv/venue_withdrawal_history`

        '
      tags:
      - public
      parameters:
      - name: period_number
        in: query
        description: ''
        required: false
        schema:
          type: number
      - name: page
        in: query
        description: the page you wish to query start from 1
        required: false
        schema:
          type: number
      - name: size
        in: query
        description: 'the page size you wish to query (max: 500)'
        required: false
        schema:
          type: number
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VenueWithdrawalHistoryResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/sv/protocol_revenue_share_history:
    get:
      summary: Get Orderly protocol revenue sharing history
      description: '

        **Limit: 10 requests per second per account**


        `GET /v1/sv/protocol_revenue_share_history`

        '
      tags:
      - public
      parameters:
      - name: page
        in: query
        description: the page you wish to query start from 1
        required: false
        schema:
          type: number
      - name: size
        in: query
        description: 'the page size you wish to query (max: 500)'
        required: false
        schema:
          type: number
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareHistoryResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/sv/liquidation_fees_share_history:
    get:
      summary: Get liquidation fees sharing history
      description: '

        **Limit: 10 requests per second per account**


        `GET /v1/sv/liquidation_fees_share_history`

        '
      tags:
      - public
      parameters:
      - name: page
        in: query
        description: the page you wish to query start from 1
        required: false
        schema:
          type: number
      - name: size
        in: query
        description: 'the page size you wish to query (max: 500)'
        required: false
        schema:
          type: number
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareHistoryResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/sv/internal_transfer_history:
    get:
      summary: Get internal transfer history
      description: '

        **Limit: 10 requests per second per account**


        `GET /v1/sv/internal_transfer_history`


        Non-Vault Account to Strategy Provider Account

        '
      tags:
      - public
      parameters:
      - name: page
        in: query
        description: the page you wish to query start from 1
        required: false
        schema:
          type: number
      - name: size
        in: query
        description: 'the page size you wish to query (max: 500)'
        required: false
        schema:
          type: number
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalTransferHistoryResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/public/broker/order_enums:
    get:
      summary: List order tags for a broker
      description: '**Limit: 10 requests per 1 second per IP address**


        `GET /v1/public/broker/order_enums?broker_id={broker_id}`


        List order tag fee configs for a broker.

        '
      tags:
      - public
      parameters:
      - name: broker_id
        in: query
        description: Broker ID
        required: true
        schema:
          type: string
      - name: symbol
        in: query
        description: Filter by symbol
        required: false
        schema:
          type: string
      - name: enum_id
        in: query
        description: Filter by fee config ID (`enum_id`)
        required: false
        schema:
          type: string
      - name: include_archived
        in: query
        description: Include archived order tags
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderEnumsResponse'
    servers:
    - url: https://api.orderly.org
      description: Mainnet
    - url: https://testnet-api.orderly.org
      description: Testnet
  /v1/public/strategy_vault/sp/info:
    get:
      summary: Get Strategy Provider’s Info
      description: '

        **Limit: 10 requests per second per IP address**


        `GET /v1/public/strategy_vault/sp/info`

        '
      tags:
      - public
      parameters:
      - name: vault_id
        in: query
        description: ''
        required: true
        schema:
          type: string
      - name: wallet_address
        in: query
        description: ''
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpInfoResponse'
    servers:
    - url: https://api-sv.orderly.org
      description: Mainnet
    - url: https://testnet-api-sv.orderly.org
      description: Testnet
  /v1/public/strategy_vault/sp/transaction_history:
    get:
      summary: Get Strategy Provider Transaction History
      description: '

        **Limit: 10 requests per second per IP address**


        `GET /v1/public/strategy_vault/sp/transaction_history`


        View Strategy Provider Transaction History

        '
      tags:
      - public
      parameters:
      - name: vault_id
        in: query
        description: ''
        required: true
        schema:
          type: string
      - name: wallet_address
        in: query
        description: ''
        required: true
        schema:
          type: string
      - name: type
        in: query
        description: '`deposit` / `withdrawal` / return all if empty'
        required: false
        schema:
          type: string
      - name: chain_id
        in: query
        description: return all if empty
        required: false
        schema:
          type: string
      - name: source
        in: query
        description: '`wallet` / `broker_id` / return all if empty'
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: the page you wish to query start from 1
        required: false
        schema:
          type: number
      - name: size
        in: query
        description: 'the page size you wish to query (max: 500)'
        required: false
        schema:
          type: number
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionHistoryResponse'
    servers:
    - url: https://api-sv.orderly.org
      description: Mainnet
    - url: https://testnet-api-sv.orderly.org
      description: Testnet
  /v1/public/strategy_vault/sp/claim_info:
    get:
      summary: Get Strategy Provider Claimable Amount
      description: '

        **Limit: 10 requests per second per IP address**


        `GET /v1/public/strategy_vault/sp/claim_info`

        '
      tags:
      - public
      parameters:
      - name: vault_id
        in: query
        description: ''
        required: true
        schema:
          type: string
      - name: wallet_address
        in: query
        description: ''
        required: true
        schema:
          type: string
      - name: chain_id
        in: query
        description: ''
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimInfoResponse'
    servers:
    - url: https://api-sv.orderly.org
      description: Mainnet
    - url: https://testnet-api-sv.orderly.org
      description: Testnet
  /v1/public/strategy_vault/sp/fees_history:
    get:
      summary: Get Strategy Provider Fee History
      description: '

        **Limit: 10 requests per second per IP address**


        `GET /v1/public/strategy_vault/sp/fees_history`

        '
      tags:
      - public
      parameters:
      - name: vault_id
        in: query
        description: ''
        required: true
        schema:
          type: string
      - name: wallet_address
        in: query
        description: ''
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: the page you wish to query start from 1
        required: false
        schema:
          type: number
      - name: size
        in: query
        description: 'the page size you wish to query (max: 500)'
        required: false
        schema:
          type: number
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpFeesHistoryResponse'
    servers:
    - url: https://api-sv.orderly.org
      description: Mainnet
    - url: https://testnet-api-sv.orderly.org
      description: Testnet
  /v1/public/strategy_vault/fund/info:
    get:
      summary: Get Strategy Fund Details
      description: '

        **Limit: 10 requests per second per IP address**


        `GET /v1/public/strategy_vault/fund/info`


        View Strategy Fund Info

        '
      tags:
      - public
      parameters:
      - name: vault_id
        in: query
        description: ''
        required: true
        schema:
          type: string
      - name: wallet_address
        in: query
        description: ''
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundInfoResponse'
    servers:
    - url: https://api-sv.orderly.org
      description: Mainnet
    - url: https://testnet-api-sv.orderly.org
      description: Testnet
  /v1/public/strategy_vault/fund/period_info:
    get:
      summary: Get Period History and Fund Period Instructions
      description: '

        **Limit: 10 requests per second per IP address**


        `GET /v1/public/strategy_vault/fund/period_info`

        '
      tags:
      - public
      parameters:
      - name: vault_id
        in: query
        description: ''
        required: true
        schema:
          type: string
      - name: wallet_address
        in: query
        description: ''
        required: true
        schema:
          type: string
      - name: period_number
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: the page you wish to query start from 1
        required: false
        schema:
          type: number
      - name: size
        in: query
        description: 'the page size you wish to query (max: 500)'
        required: false
        schema:
          type: number
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeriodInfoResponse'
    servers:
    - url: https://api-sv.orderly.org
      description: Mainnet
    - url: https://testnet-api-sv.orderly.org
      description: Testnet
  /v1/public/strategy_vault/fund/pending_transactions:
    get:
      summary: Get Preview Users Pending Requests
      description: '

        **Limit: 10 requests per second per IP address**


        `GET /v1/public/strategy_vault/fund/pending_transactions`

        '
      tags:
      - public
      parameters:
      - name: vault_id
        in: query
        description: ''
        required: true
        schema:
          type: string
      - name: wallet_address
        in: query
        description: ''
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PendingTransactionsResponse'
    servers:
    - url: https://api-sv.orderly.org
      description: Mainnet
    - url: https://testnet-api-sv.orderly.org
      description: Testnet
  /v1/public/strategy_vault/vault/info:
    get:
      summary: Get Strategy Vault Info
      description: '

        **Limit: 10 requests per second per IP address**


        `GET /v1/public/strategy_vault/vault/info`

        '
      tags:
      - public
      parameters:
      - name: vault_id
        in: query
        description: return all if empty
        required: false
        schema:
          type: string
      - name: status
        in: query
        description: return all if no filter
        required: false
        schema:
          type: string
      - name: broker_ids
        in: query
        description: can filter multiple broker_id per query.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultInfoResponse'
    servers:
    - url: https://api-sv.orderly.org
      description: Mainnet
    - url: https://testnet-api-sv.orderly.org
      description: Testnet
  /v1/public/strategy_vault/vault/performance:
    get:
      summary: Get Strategy Vault Performance
      description: '

        **Limit: 10 requests per second per IP address**


        `GET /v1/public/strategy_vault/vault/performance`

        '
      tags:
      - public
      parameters:
      - name: vault_id
        in: query
        description: ''
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultPerformanceResponse'
    servers:
    - url: https://api-sv.orderly.org
      description: Mainnet
    - url: https://testnet-api-sv.orderly.org
      description: Testnet
  /v1/public/strategy_vault/vault/performance_chart:
    get:
      summary: Get Strategy Vault TVL/PnL History
      description: '

        **Limit: 10 requests per second per IP address**


        `GET /v1/public/strategy_vault/vault/performance_chart`

        '
      tags:
      - public
      parameters:
      - name: vault_id
        in: query
        description: ''
        required: true
        schema:
          type: string
      - name: type
        in: query
        description: '`PNL` / `TVL`'
        required: true
        schema:
          type: string
      - name: time_range
        in: query
        description: '`24h` / `7d` / `30d` / `all_time`'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultPerformanceChartResponse'
    servers:
    - url: https://api-sv.orderly.org
      description: Mainnet
    - url: https://testnet-api-sv.orderly.org
      description: Testnet
  /v1/public/strategy_vault/vault/overall_info:
    get:
      summary: Get Overall Statistics of all Strategy Vaults
      description: '

        **Limit: 10 requests per second per IP address**


        `GET /v1/public/strategy_vault/vault/overall_info`

        '
      tags:
      - public
      parameters:
      - name: broker_ids
        in: query
        description: return all if no filter. can filter multiple broker_id per query
        required: false
        example: orderly,woofi_pro,aden
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultOverallInfoResponse'
    servers:
    - url: https://api-sv.orderly.org
      description: Mainnet
    - url: https://testnet-api-sv.orderly.org
      description: Testnet
  /v1/public/strategy_vault/user/overall_info:
    get:
      summary: Get User Overall Statistics across Strategy Vaults
      description: '

        **Limit: 10 requests per second per IP address**


        `GET /v1/public/strategy_vault/user/overall_info`

        '
      tags:
      - public
      parameters:
      - name: wallet_address
        in: query
        description: ''
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserOverallInfoResponse'
    servers:
    - url: https://api-sv.orderly.org
      description: Mainnet
    - url: https://testnet-api-sv.orderly.org
      description: Testnet
  /v1/public/strategy_vault/vault/liquidator_history:
    get:
      summary: Get Strategy Vault Liquidator History
      description: '

        Liquidated positions of liquidator


        **Limit: 10 requests per second per IP address**


        `GET /v1/public/strategy_vault/vault/liquidator_history`

        '
      tags:
      - public
      parameters:
      - name: vault_id
        in: query
        description: ''
        required: true
        schema:
          type: string
      - name: symbol
        in: query
        description: only 1 at a time
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: the page you wish to query start from 1
        required: false
        schema:
          type: number
      - name: size
        in: query
        description: 'the page size you wish to query (max: 500)'
        required: false
        schema:
          type: number
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultLiquidatorHistoryResponse'
    servers:
    - url: https://api-sv.orderly.org
      description: Mainnet
    - url: https://testnet-api-sv.orderly.org
      description: Testnet
  /v1/public/strategy_vault/vault/positions:
    get:
      summary: Get Strategy Vault Positions
      description: '

        **Limit: 10 requests per second per IP address**


        `GET /v1/public/strategy_vault/vault/positions`

        '
      tags:
      - public
      parameters:
      - name: vault_id
        in: query
        description: ''
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultPositionsResponse'
    servers:
    - url: https://api-sv.orderly.org
      description: Mainnet
    - url: https://testnet-api-sv.orderly.org
      description: Testnet
  /v1/public/strategy_vault/vault/open_orders:
    get:
      summary: Get Strategy Vault Open Orders
      description: '

        **Limit: 10 requests per second per IP address**


        `GET /v1/public/strategy_vault/vault/open_orders`


        Includes both normal & algo orders

        '
      tags:
      - public
      parameters:
      - name: vault_id
        in: query
        description: ''
        required: true
        schema:
          type: string
      - name: symbol
        in: query
        description: one symbol at a time
        required: false
        schema:
          type: string
      - name: sort_by
        in: query
        description: '`ascending` / `descending` (default) on updated_time'
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: the page you wish to query start from 1
        required: false
        schema:
          type: number
      - name: size
        in: query
        description: 'the page size you wish to query (max: 500)'
        required: false
        schema:
          type: number
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultOpenOrdersResponse'
    servers:
    - url: https://api-sv.orderly.org
      description: Mainnet
    - url: https://testnet-api-sv.orderly.org
      description: Testnet
  /v1/public/strategy_vault/vault/trade_history:
    get:
      summary: Get Strategy Vault Trade History
      description: '

        **Limit: 10 requests per second per IP address**


        `GET /v1/public/strategy_vault/vault/trade_history`

        '
      tags:
      - public
      parameters:
      - name: vault_id
        in: query
        description: ''
        required: true
        schema:
          type: string
      - name: symbol
        in: query
        description: one symbol at a time
        required: false
        schema:
          type: string
      - name: sort_by
        in: query
        description: '`ascending` / `descending` (default)'
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: the page you wish to query start from 1
        required: false
        schema:
          type: number
      - name: size
        in: query
        description: 'the page size you wish to query (max: 500)'
        required: false
        schema:
          type: number
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultTradeHistoryResponse'
    servers:
    - url: https://api-sv.orderly.org
      description: Mainnet
    - url: https://testnet-api-sv.orderly.org
      description: Testnet
  /v1/public/strategy_vault/vault/order_history:
    get:
      summary: Get Strategy Vault Order History
      description: '

        Include both normal & algo orders


        **Limit: 10 requests per second per IP address**


        `GET /v1/public/strategy_vault/vault/order_history`

        '
      tags:
      - public
      parameters:
      - name: vault_id
        in: query
        description: ''
        required: true
        schema:
          type: string
      - name: symbol
        in: query
        description: one symbol at a time
        required: false
        schema:
          type: string
      - name: sort_by
        in: query
        description: '`ascending` / `descending` (default) on updated_time'
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: the page you wish to query start from 1
        required: false
        schema:
          type: number
      - name: size
        in: query
        description: 'the page size you wish to query (max: 500)'
        required: false
        schema:
          type: number
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultOrderHistoryResponse'
    servers:
    - url: https://api-sv.orderly.org
      description: Mainnet
    - url: https://testnet-api-sv.orderly.org
      description: Testnet
  /v1/public/strategy_vault/lp/info:
    get:
      summary: Get Liquidity Provider Info
      description: '

        **Limit: 10 requests per second per IP address**


        `GET /v1/public/strategy_vault/lp/info`

        '
      tags:
      - public
      parameters:
      - name: wallet_address
        in: query
        description: ''
        required: true
        schema:
          type: string
      - name: vault_id
        in: query
        description: return all if empty
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LpInfoResponse'
    servers:
    - url: https://api-sv.orderly.org
      description: Mainnet
    - url: https://testnet-api-sv.orderly.org
      description: Testnet
  /v1/public/strategy_vault/lp/fees_history:
    get:
      summary: Get Liquidity Provider Fee History
      description: '

        **Limit: 10 requests per second per IP address**


        `GET /v1/public/strategy_vault/lp/fees_history`

        '
      tags:
      - public
      parameters:
      - name: vault_id
        in: query
        description: ''
        required: true
        schema:
          type: string
      - name: wallet_address
        in: query
        description: ''
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: the page you wish to query start from 1
        required: false
        schema:
          type: number
      - name: size
        in: query
        description: 'the page size you wish to query (max: 500)'
        required: false
        schema:
          type: number
      - name: start_t
        in: query
        description: start time range that wish to query
        required: false
        schema:
          type: number
      - name: end_t
        in: query
        description: end time range that wish to query
        required: false
        schema:
          type: number
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LpFeesHistoryResponse'
    servers:
    - url: https://api-sv.orderly.org
      description: Mainnet
    - url: https://testnet-api-sv.orderly.org
      description: Testnet
  /v1/public/strategy_vault/lp/performance:
    get:
      summary: Get Liquidity Provider Performance
      description: '

        **Limit: 10 requests per second per IP address**


[...]
