openapi: 3.2.0
info:
  title: EVM Private API
  description: ''
  version: 1.0.0
servers:
- url: https://api.orderly.org
  description: Mainnet
- url: https://testnet-api.orderly.org
  description: Testnet
tags:
- name: private
paths:
  /v1/client/add_sub_account:
    post:
      summary: Add sub account
      description: '**Limit: 10 requests per second**


        `POST /v1/client/add_sub_account`


        Only the main account is allowed to call this API.


        Main account’s Orderly key can control sub accounts.

        '
      tags:
      - private
      parameters:
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddSubAccountResponse'
  /v1/client/sub_account:
    get:
      summary: Get sub account list
      description: '**Limit: 10 requests per second**


        `GET /v1/client/sub_account`


        Only the main account is allowed to call this API.

        '
      tags:
      - private
      parameters:
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubAccountResponse'
  /v1/client/update_sub_account:
    post:
      summary: Update sub account
      description: '**Limit: 10 requests per second**


        `POST /v1/client/update_sub_account`


        Only the main account is allowed to call this API.

        '
      tags:
      - private
      parameters:
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      requestBody:
        content:
          application/json:
            schema:
              required:
              - sub_account_id
              type: object
              properties:
                sub_account_id:
                  type: string
                description:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicResponse'
  /v1/client/aggregate/positions:
    get:
      summary: Get aggregate positions
      description: '

        **Limit: 1 request per 60 seconds**


        `GET /v1/client/aggregate/positions`


        Only the main account is allowed to call this API.

        '
      tags:
      - private
      parameters:
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AggregatePositionsResponse'
  /v1/client/aggregate/holding:
    get:
      summary: Get aggregate holding
      description: '

        **Limit: 1 request per 60 seconds**


        `GET /v1/client/aggregate/holding`


        Only the main account is allowed to call this API.

        '
      tags:
      - private
      parameters:
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AggregateHoldingResponse'
  /v1/sub_account_settle_pnl:
    post:
      summary: Settle sub account PnL
      description: '**Limit: 10 requests per second**


        `POST /v1/sub_account_settle_pnl`


        Main account’s Orderly key can control sub accounts.

        '
      tags:
      - private
      parameters:
      - $ref: '#/components/parameters/orderly_timestamp'
      - name: orderly_account_id
        in: header
        description: account_id in header can only be sub_account
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      requestBody:
        content:
          application/json:
            schema:
              required:
              - settle_nonce
              type: object
              properties:
                settle_nonce:
                  type: number
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettlePnlResponse'
  /v1/positions:
    get:
      summary: Get all positions info
      deprecated: false
      description: '**Limit: 30 requests per 10 second per user**


        `GET /v1/positions`

        '
      tags:
      - private
      parameters:
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PositionsResponse'
  /v1/positions_lite:
    get:
      summary: Get lite positions info
      deprecated: false
      description: '**Limit: 10 requests per 1 second**


        `GET /v1/positions_lite`


        Get lightweight positions information.

        '
      tags:
      - private
      parameters:
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PositionsLiteResponse'
  /v1/position/{symbol}:
    get:
      summary: Get one position info
      deprecated: false
      description: '**Limit: 30 requests per 10 second per user**


        `GET /v1/position/{symbol}`

        '
      tags:
      - private
      parameters:
      - name: symbol
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: margin_mode
        in: query
        description: 'Default: `CROSS`. Supported values: `CROSS`/`ISOLATED`'
        required: false
        schema:
          type: string
          enum:
          - CROSS
          - ISOLATED
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PositionResponse'
  /v1/position_history:
    get:
      summary: Get position history
      deprecated: false
      description: '**Limit: 10 requests per 1 second per user**


        `GET /v1/position_history`

        '
      tags:
      - private
      parameters:
      - name: symbol
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: ''
        required: true
        schema:
          type: number
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PositionHistoryResponse'
  /v1/funding_fee/history:
    get:
      summary: Get funding fee history
      deprecated: false
      description: '**Limit: 20 requests per 60 second per user**


        `GET /v1/funding_fee/history`


        Get funding fee history.

        '
      tags:
      - private
      parameters:
      - name: symbol
        in: query
        description: omit to get funding fee history for all symbols
        required: false
        example: PERP_ETH_USDC
        schema:
          type: string
      - name: start_t
        in: query
        description: start time range that you wish to query, noted that the time stamp is a 13-digits timestamp.
        required: false
        example: ''
        schema:
          type: string
      - name: end_t
        in: query
        description: end time range that you wish to query, noted that the time stamp is a 13-digits timestamp.
        required: false
        example: ''
        schema:
          type: string
      - name: page
        in: query
        description: the page you wish to query. start from 1
        required: false
        example: ''
        schema:
          type: string
      - name: size
        in: query
        description: 'Default: 60'
        required: false
        example: ''
        schema:
          type: string
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundingFeeHistoryResponse'
  /v1/client/leverage:
    get:
      summary: Get leverage setting
      deprecated: false
      description: '**Limit: 1 requests per 1 second per IP address**


        `GET /v1/client/leverage`


        Get account''s leverage setting for a specific symbol.

        '
      tags:
      - private
      parameters:
      - name: symbol
        in: query
        description: ''
        required: true
        example: PERP_BTC_USDC
        schema:
          type: string
      - name: margin_mode
        in: query
        description: 'Default: `CROSS`. Supported values: `CROSS`/`ISOLATED`'
        required: false
        schema:
          type: string
          enum:
          - CROSS
          - ISOLATED
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeverageResponse'
  /v1/client/leverages:
    get:
      summary: Get all leverage settings
      deprecated: false
      description: '`GET /v1/client/leverages`


        Get leverage settings for all symbols.

        '
      tags:
      - private
      parameters:
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeveragesResponse'
    post:
      summary: Update leverage setting
      deprecated: false
      description: "**Limit: 5 requests per 60 second per user**\n\n`POST /v1/client/leverages`\n\nUpdate leverage settings. This endpoint supports two modes:\n\n**Single symbol mode:** When `symbol` is provided, update leverage for that specific symbol.\n\n**Batch mode:** When `symbol` is omitted, set leverage for all symbols in a single atomic operation. Each symbol's new leverage will be adjusted to `min(requested_leverage, symbol_max_leverage)`.\n\nFor example, if BTC max leverage is 100, ETH max leverage is 100, and NEAR max leverage is 10, and the user requests leverage = 20, the result will be: BTC = 20, ETH = 20, NEAR = 10.\n\nBatch update behavior with margin modes:\n- **Cross margin symbols:** A margin check is performed assuming all cross-margin symbols are updated to the new leverage. Either all cross-margin symbol leverages are updated successfully, or none are updated.\n- **Isolated margin symbols:** The leverage update will only apply to symbols with no active isolated positions or pending orders. The update for isolated margin symbols will always go through for eligible symbols.\n\nValidation Logic:\n\n1. Check the leverage range is eligible\n\n2. Check if the position notional under the updated leverage is acceptable\n   - `max_notional = (1 / (symbol_leverage * imr_factor)) ^ (1/0.8)`\n   - `symbol_leverage_max = round down to int → min(1 / (imr_factor * notional ^ 0.8), 1/base_imr)`\n\n3. Check if the margin is enough\n"
      tags:
      - private
      parameters:
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                symbol:
                  type: string
                  example: PERP_BTC_USDC
                leverage:
                  type: integer
                  description: Integer between 1 to 100
                margin_mode:
                  type: string
                  description: 'Default: `CROSS`. Margin mode for the leverage update.'
                  enum:
                  - CROSS
                  - ISOLATED
              required:
              - leverage
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeverageResponse'
  /v1/liquidations:
    get:
      summary: Get liquidated positions of account
      deprecated: false
      description: '**Limit: 10 requests per 1 second per IP address**


        `GET /v1/liquidations`

        '
      tags:
      - private
      parameters:
      - name: symbol
        in: query
        description: ''
        required: false
        example: ''
        schema:
          type: string
      - name: start_t
        in: query
        description: ''
        required: false
        example: ''
        schema:
          type: number
      - name: end_t
        in: query
        description: ''
        required: false
        example: ''
        schema:
          type: number
      - name: page
        in: query
        description: start from 1
        required: false
        example: ''
        schema:
          type: number
      - name: size
        in: query
        description: ''
        required: false
        example: ''
        schema:
          type: number
      - name: sort_by
        in: query
        description: '`liquidation_id`/`time`'
        required: false
        example: ''
        schema:
          type: string
      - name: liquidation_id
        in: query
        description: return the designed liquidation_id only
        required: false
        example: ''
        schema:
          type: number
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiquidationsResponse'
  /v1/liquidation:
    post:
      summary: Claim liquidated positions
      deprecated: false
      description: '**Limit: 5 requests per 1 second**


        `POST /v1/liquidation`

        '
      tags:
      - private
      parameters:
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LiquidationBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostLiquidationResponse'
  /v1/client/liquidator_liquidations:
    get:
      summary: Get liquidated positions by liquidator
      deprecated: false
      description: '**Limit: 10 requests per 1 second per IP address**


        `GET /v1/client/liquidator_liquidations`

        '
      tags:
      - private
      parameters:
      - name: symbol
        in: query
        description: ''
        required: false
        example: ''
        schema:
          type: string
      - name: start_t
        in: query
        description: ''
        required: false
        example: ''
        schema:
          type: number
      - name: end_t
        in: query
        description: ''
        required: false
        example: ''
        schema:
          type: number
      - name: page
        in: query
        description: start from 1
        required: false
        example: ''
        schema:
          type: number
      - name: size
        in: query
        description: ''
        required: false
        example: ''
        schema:
          type: number
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiquidatorLiquidationsResponse'
  /v1/order:
    post:
      summary: Create order
      deprecated: false
      description: '**Limit: 10 requests per 1 second**


        `POST /v1/order`


        Place order maker/taker, the order executed information will be update from websocket stream.

        will response immediately with an order created message.


        `MARKET` type order behavior: it matches until the full size is executed. If the size is too large (larger than whole book) or the matching price exceeds the price limit (refer to `price_range`), then the remaining quantity will be cancelled.


        `IOC` type order behavior: it matches as much as possible at the order_price. If not fully executed, then remaining quantity will be cancelled.


        `FOK` type order behavior: if the order can be fully executed at the order_price then the order gets fully executed otherwise would be cancelled without any execution.


        `POST_ONLY` type order behavior: if the order will be executed with any maker trades at the time of placement, then it will be cancelled without any execution. If a `POST_ONLY` order would match only with hidden quantity at the price level, the incoming `POST_ONLY` order is treated as the maker side for that execution and the resting hidden order is treated as the taker side.


        `ASK` type order behavior: the order price is guranteed to be the best ask price of the orderbook at the time it gets accepted.


        `BID` type order behavior: the order price is guranteed to be the best bid price of the orderbook at the time it gets accepted.


        `visible_quantity` behavior: it sets the maximum quantity to be shown on orderbook. By default, it is equal to order_quantity, negative number and number larger than `order_quantity` is not allowed. If it sets to 0, the order would be hidden from the orderbook. It doesn''t work for `MARKET`/`IOC`/`FOK` orders since orders with these types would be executed and cancelled immediately and not be shown on orderbook. For `LIMIT` order, as long as it''s not complete, `visible_quantity` is the maximum quantity that shown on orderbook. When hidden quantity is matched by a new incoming order, the hidden side is marked as taker and charged the taker fee. If an order has both hidden and visible quantity, the hidden quantity is matched before the visible quantity.


        `order_quantity` are provided. The precision of the number should be within 8 digits.


        `client_order_id` behavior: customized order_id, a unique id among open orders. Orders with the same `client_order_id` can be accepted only when the previous one if completed, otherwise the order will be rejected.


        Note: This endpoint requires `trading` scope in orderly key.'
      tags:
      - private
      parameters:
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      - $ref: '#/components/parameters/recv_window_header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostOrderBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostOrderResponse'
    delete:
      summary: Cancel order
      deprecated: false
      description: '**Limit: 10 requests per 1 second**


        `DELETE /v1/order?order_id={order_id}&symbol={symbol}`


        Cancels a single order by `order_id`.


        Note: This endpoint requires `trading` scope in orderly key.

        '
      tags:
      - private
      parameters:
      - name: symbol
        in: query
        description: ''
        required: true
        example: ''
        schema:
          type: string
      - name: order_id
        in: query
        description: ''
        required: true
        example: ''
        schema:
          type: number
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteOrderResponse'
    put:
      summary: Edit order
      deprecated: false
      description: '**Limit: 10 request per 1 second**


        `PUT /v1/order`


        Edit a pending order by `order_id`. Only the `order_price` or `order_quantity` can be amended.


        Note: This endpoint requires `trading` scope in orderly key.'
      tags:
      - private
      parameters:
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PutOrderResponse'
  /v1/order/{order_id}:
    get:
      summary: Get order by order_id
      deprecated: false
      description: '**Limit: 10 requests per 1 second**


        `GET /v1/order/{order_id}`


        Get details of a single order by `order_id`.

        '
      tags:
      - private
      parameters:
      - name: order_id
        in: path
        description: id of the order
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
  /v1/trades:
    get:
      summary: Get trades
      deprecated: false
      description: '**Limit: 10 requests per 1 second**


        `GET /v1/trades`


        Return client''s trades history within a time range.


        Only return the latest 500 entries.

        '
      tags:
      - private
      parameters:
      - name: symbol
        in: query
        description: ''
        required: false
        example: ''
        schema:
          type: string
      - name: start_t
        in: query
        description: start time range that wish to query, noted the time stamp is 13-digits timestamp.
        required: false
        example: ''
        schema:
          type: number
      - name: end_t
        in: query
        description: end time range that wish to query, noted the time stamp is 13-digits timestamp.
        required: false
        example: ''
        schema:
          type: number
      - name: page
        in: query
        description: the page you wish to query. start from 1
        required: false
        example: ''
        schema:
          type: number
      - name: size
        in: query
        description: 'the page size you wish to query. (max: 500)'
        required: false
        example: ''
        schema:
          type: number
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradesResponse'
  /v1/client/holding:
    get:
      summary: Get current holding
      deprecated: false
      description: '**Limit: 10 requests per 1 seconds**


        `GET /v1/client/holding`


        Get the current summary of user token holdings.

        '
      tags:
      - private
      parameters:
      - name: all
        in: query
        description: true/false. If true then will return all token even if balance is empty.
        required: false
        example: ''
        schema:
          type: boolean
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientHoldingResponse'
  /v1/account_info:
    get:
      summary: Get account overview info
      deprecated: false
      description: '**Limit: 10 requests per 1 second per user**


        `GET /v1/account_info`


        Returns account-level collateral, margin, and PnL overview metrics for the authenticated account.

        '
      tags:
      - private
      parameters:
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountInfoResponse'
  /v1/client/margin_mode:
    post:
      summary: Update margin mode
      deprecated: false
      description: '**Limit: 10 requests per 1 second per user**


        `POST /v1/client/margin_mode`


        Update the default margin mode for a specific symbol. Switching a symbol''s margin mode is only possible when you have no open positions or pending orders on that symbol in the current mode.

        '
      tags:
      - private
      parameters:
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                symbol:
                  type: string
                  description: Symbol to update margin mode for
                  example: PERP_BTC_USDC
                default_margin_mode:
                  type: string
                  description: Target margin mode
                  enum:
                  - CROSS
                  - ISOLATED
                  example: ISOLATED
              required:
              - symbol
              - default_margin_mode
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicResponse'
  /v1/position_margin:
    post:
      summary: Add or reduce position margin
      deprecated: false
      description: '**Limit: 10 requests per 1 second per user**


        `POST /v1/position_margin`


        Add or reduce margin for an existing isolated margin position. This allows you to adjust the margin allocated to a specific isolated position after it has been opened.


        - `ADD`: Transfer margin from your available balance to the isolated position, lowering the liquidation price.

        - `REDUCE`: Transfer margin from the isolated position back to your available balance, raising the liquidation price.


        **Prerequisites:** You must have an open isolated position on the specified symbol.


        Note: This endpoint requires `trading` scope in orderly key.

        '
      tags:
      - private
      parameters:
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                symbol:
                  type: string
                  description: Symbol of the isolated position
                  example: PERP_ETH_USDC
                amount:
                  type: string
                  description: Amount of margin to add or reduce
                  example: '3'
                type:
                  type: string
                  description: Operation type
                  enum:
                  - ADD
                  - REDUCE
                  example: ADD
              required:
              - symbol
              - amount
              - type
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicResponse'
  /v1/client/margin_modes:
    get:
      summary: Get margin modes
      deprecated: false
      description: '**Limit: 10 requests per 1 second per user**


        `GET /v1/client/margin_modes`


        Get default margin mode for all symbols.

        '
      tags:
      - private
      parameters:
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarginModesResponse'
  /v1/client/info:
    get:
      summary: Get account information
      deprecated: false
      description: '**Limit: 10 requests per 60 seconds**


        `GET /v1/client/info`


        Returns account configuration details for the authenticated account, including fee rates and leverage settings.

        '
      tags:
      - private
      parameters:
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientInfoResponse'
  /v1/orders:
    get:
      summary: Get orders
      deprecated: false
      description: '**Limit: 10 requests per 1 second**


        `GET /v1/orders`


        Get orders by customized filters.


        For filter by status, one can reference special bundled statuses below for ease of access of Open (ie `INCOMPLETE`) orders or `COMPLETED` orders.


        - `INCOMPLETE` = `NEW` + `PARTIAL_FILLED`

        - `COMPLETED` = `CANCELLED` + `FILLED`

        '
      tags:
      - private
      parameters:
      - name: symbol
        in: query
        description: ''
        required: false
        example: ''
        schema:
          type: string
      - name: side
        in: query
        description: '`BUY`/`SELL`'
        required: false
        example: ''
        schema:
          type: string
      - name: order_type
        in: query
        description: '`LIMIT`/`MARKET`'
        required: false
        example: ''
        schema:
          type: string
      - name: status
        in: query
        description: '`NEW`/`CANCELLED`/`PARTIAL_FILLED`/`FILLED`/`REJECTED`/`INCOMPLETE`/`COMPLETED`'
        required: false
        example: ''
        schema:
          type: string
      - name: order_tag
        in: query
        description: ''
        required: false
        example: ''
        schema:
          type: string
      - name: start_t
        in: query
        description: start time range that wish to query, noted the time stamp is 13-digits timestamp.
        required: false
        example: ''
        schema:
          type: number
      - name: end_t
        in: query
        description: end time range that wish to query, noted the time stamp is 13-digits timestamp.
        required: false
        example: ''
        schema:
          type: number
      - name: page
        in: query
        description: the page you wish to query. start from 1
        required: false
        example: ''
        schema:
          type: number
      - name: size
        in: query
        description: 'the page size you wish to query (max: 500)'
        required: false
        example: ''
        schema:
          type: number
      - name: sort_by
        in: query
        description: 'If empty:


          Descending order by updated_time if user passed update_start_t or update_end_t; descending order by order_id if updated_time are the same;


          Otherwise descending order by created_time; descending order by order_id if created_time are the same;



          If not empty:


          If sort_by == `CREATED_TIME_DESC`, descending order by created_time. Descending order by order_id if created_time are same;


          If sort_by == `CREATED_TIME_ASC`, ascending order by created_time. Ascending order by order_id if created_time are same;


          If sort_by == `UPDATED_TIME_DESC`, descending order by updated_time. Descending order by order_id if updated_time are same;


          If sort_by == `UPDATED_TIME_ASC`, ascending order by updated_time. Ascending order by order_id if updated_time are same;

          '
        schema:
          type: string
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersResponse'
    delete:
      summary: Cancel all pending orders
      deprecated: false
      description: '**Limit: 10 requests per 1 second**


        `DELETE /v1/orders?symbol={symbol}`


        Cancel a list of orders, filtered by `symbol` optionally. This request will cancel all open orders within the filter criteria, and will cancel all open orders if no filter is provided.


        Note: This endpoint requires `trading` scope in orderly key.

        '
      tags:
      - private
      parameters:
      - name: symbol
        in: query
        description: ''
        required: false
        example: ''
        schema:
          type: string
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteAllPendingAlgoOrderResponse'
  /v1/client/statistics:
    get:
      summary: Get user statistics
      deprecated: false
      description: '**Limit: 10 requests per 60 seconds**


        `GET /v1/client/statistics`


        Returns trading activity and fee statistics for the authenticated account.

        '
      tags:
      - private
      parameters:
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientStatisticsResponse'
  /v1/asset/history:
    get:
      summary: Get asset history
      deprecated: false
      description: '**Limit 10 requests per 60 seconds**


        `GET /v1/asset/history`


        Returns asset transfer history for the authenticated account, including deposits and withdrawals.

        '
      tags:
      - private
      parameters:
      - name: token
        in: query
        description: Filter results to a specific token symbol.
        required: false
        example: ''
        schema:
          type: string
      - name: side
        in: query
        description: 'Filter by transfer direction: `DEPOSIT` or `WITHDRAW`.'
        required: false
        example: ''
        schema:
          type: string
      - name: status
        in: query
        description: 'Filter by transfer status. Supported values: `NEW`, `CONFIRM`, `PROCESSING`, `COMPLETED`, `FAILED`, `PENDING_REBALANCE`.'
        required: false
        example: ''
        schema:
          type: string
      - name: start_t
        in: query
        description: Filter results created at or after this timestamp in milliseconds.
        required: false
        example: ''
        schema:
          type: number
      - name: end_t
        in: query
        description: Filter results created at or before this timestamp in milliseconds.
        required: false
        example: ''
        schema:
          type: number
      - name: page
        in: query
        description: Page number to return. Starts from 1.
        required: false
        example: ''
        schema:
          type: number
      - name: size
        in: query
        description: Number of records to return per page.
        required: false
        example: ''
        schema:
          type: number
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetHistoryResponse'
  /v1/client/asset/receiver_address:
    get:
      summary: Get receiver address
      deprecated: false
      description: '**Limit: 10 requests per 1 second**


        `GET /v1/client/asset/receiver_address`


        Returns the exclusive receiver address for the authenticated account. Users can deposit supported tokens by transferring directly to this address without wallet connection or gas.

        '
      tags:
      - private
      parameters:
      - name: chain_id
        in: query
        description: 'Chain ID to get the receiver address for. Supported chains: Arbitrum (`42161`), BNB Chain (`56`).'
        required: true
        example: 42161
        schema:
          type: integer
      - name: token
        in: query
        description: 'Token symbol. Supported tokens: `USDC`, `USDT`. Defaults to `USDC` if omitted.'
        required: false
        example: USDC
        schema:
          type: string
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReceiverAddressResponse'
  /v1/client/asset/receiver_events:
    get:
      summary: Get receiver events
      deprecated: false
      description: '**Limit: 10 requests per 1 second**


        `GET /v1/client/asset/receiver_events`


        Returns transfer events detected at the user''s exclusive receiver address. Use this endpoint to poll for deposit status after a user transfers tokens to their receiver address.

        '
      tags:
      - private
      parameters:
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReceiverEventsResponse'
  /v1/claim_insurance_fund:
    post:
      summary: Claim insurance fund
      deprecated: false
      description: '**Limit: 5 requests per 1 second**


        `POST /v1/claim_insurance_fund`

        '
      tags:
      - private
      parameters:
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClaimInsuranceFundBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimInsuranceFundResponse'
  /v1/client/remove_orderly_key:
    post:
      summary: Remove Orderly key
      deprecated: false
      description: '**Limit: 10 requests per 1 second per IP address**


        `POST /v1/client/remove_orderly_key`


        Removes an orderly key from an account and deactivates it for future use.

        '
      tags:
      - private
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveOrderlyKeyBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicResponse'
  /v1/order/cancel_all_after:
    post:
      summary: Cancel all after
      deprecated: false
      description: '**Limit: 1 request per 1 second**


        `POST /v1/order/cancel_all_after`


        Cancels all of the user''s ordinary and algo orders after being called (dead man switch).


        Note: Users must apply for access before using this endpoint.'
      tags:
      - private
      parameters:
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelAllAfterBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelAllAfterResponse'
  /v1/batch-order:
    post:
      summary: Batch create order
      deprecated: false
      description: '**Limit: 1 request per 1 second**


        `POST /v1/batch-order`


        Creates a batch of orders as a list according to the same rules as a single Create Order.


        Parameters for each order within the batch will be the same as the create single order. The batch of orders should be sent as a JSON array containing all the orders. The maximum number of orders that can be sent in 1 batch order request is 10. Each order within the batch order request is counted as 1 order towards the overall create order rate limit.




        Note: This endpoint requires `trading` scope in orderly key.'
      tags:
      - private
      parameters:
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      - $ref: '#/components/parameters/recv_window_header'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                orders:
                  type: array
                  items:
                    $ref: '#/components/schemas/BatchCreateOrderBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchOrderResponse'
    delete:
      summary: Batch cancel orders
      deprecated: false
      description: "**Limit: 10 requests per 1 second**\n\n`DELETE /v1/batch-order?order_ids={order_id1},{order_id2}`\n\nCancel a list of orders by `order_ids`. The maximum orders that can be cancelled within 1 batch cancel request is 10. \n\nThis endpoint will return invalid order_id error if 0 order_ids are given or all of the given order_ids are invalid. \n\nNote: This endpoint requires `trading` scope in orderly key.\n"
      tags:
      - private
      parameters:
      - name: order_ids
        in: query
        description: List of order_ids, comma-separated, with a maximum of 10 order ids per request.
        required: true
        example: ''
        schema:
          type: string
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteAllPendingAlgoOrderResponse'
  /v1/client/order:
    delete:
      summary: Cancel order by client_order_id
      deprecated: false
      description: '**Limit: 10 requests per 1 second**


        `DELETE /v1/client/order?client_order_id={client_order_id}&symbol={symbol}`


        Cancel an order by `client_order_id`.


        Note: This endpoint requires `trading` scope in orderly key.

        '
      tags:
      - private
      parameters:
      - name: symbol
        in: query
        description: ''
        required: true
        example: ''
        schema:
          type: string
      - name: client_order_id
        in: query
        description: ''
        required: true
        example: ''
        schema:
          type: string
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteOrderResponse'
  /v1/client/batch-order:
    delete:
      summary: Batch cancel orders by client_order_id
      deprecated: false
      description: "**Limit: 10 requests per 1 second**\n\n`DELETE /v1/client/batch-order?client_order_ids={client_order_id1},{client_order_id2}`\n\nCancel a list of orders by `client_order_ids`. The maximum orders that can be cancelled within 1 batch cancel request is 10.\n\nThis endpoint will return invalid client_order_id error if 0 client_order_ids are given or all of the given client_order_ids are invalid. \n\nNote: This endpoint requires `trading` scope in orderly key.\n"
      tags:
      - private
      parameters:
      - name: client_order_ids
        in: query
        description: List of client_order_ids, comma-separated, with a maximum of 10 order ids per request.
        required: true
        example: ''
        schema:
          type: string
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteAllPendingAlgoOrderResponse'
  /v1/client/order/{client_order_id}:
    get:
      summary: Get order by client_order_id
      deprecated: false
      description: '**Limit: 10 requests per 1 second**


        `GET /v1/client/order/{client_order_id}`


        Get details of a single order by `client_order_id`.

        '
      tags:
      - private
      parameters:
      - name: client_order_id
        in: path
        description: client_order_id of the order
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientOrderResponse'
  /v1/orderbook/{symbol}:
    get:
      summary: Orderbook snapshot
      deprecated: false
      description: '**Limit: 10 requests per 1 second**


        `GET /v1/orderbook/{symbol}`


        Snapshot of the current orderbook. Price of asks/bids are in descending order.

        '
      tags:
      - private
      parameters:
      - name: symbol
        in: path
        description: ''
        required: true
        example: PERP_BTC_USDC
        schema:
          type: string
      - name: max_level
        in: query
        description: the levels wish to show on both side.
        required: false
        example: ''
        schema:
          type: integer
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderbookResponse'
  /v1/order/{order_id}/trades:
    get:
      summary: Get all trades of specific order
      deprecated: false
      description: '**Limit: 10 requests per 1 second**


        `GET /v1/order/{order_id}/trades`


        Get specific trades of an order by `order_id`.

        '
      tags:
      - private
      parameters:
      - name: order_id
        in: path
        description: ''
        required: true
        schema:
          type: number
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderTradesResponse'
  /v1/trade/{trade_id}:
    get:
      summary: Get trade
      deprecated: false
      description: '**Limit: 10 requests per 1 second**


        `GET /v1/trade/{trade_id}`


        Get specific transaction details by `trade_id`.

        '
      tags:
      - private
      parameters:
      - name: trade_id
        in: path
        description: id of the trade
        required: true
        schema:
          type: number
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradeResponse'
  /v1/client/maintenance_config:
    post:
      summary: Configure auto-cancel during maintenance
      deprecated: false
      description: '**Limit: 10 requests per 60 seconds**


        `POST /v1/client/maintenance_config`


        Set the user config for whether the system should automatically cancel the user''s pending orders during maintenance.

        '
      tags:
      - private
      parameters:
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientMaintenanceConfigBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientMaintenanceConfigResponse'
  /v1/volume/user/stats:
    get:
      summary: Get user volume statistics
      deprecated: false
      description: '**Limit 10 requests per 60 seconds**


        `GET /v1/volume/user/stats`


        Returns cumulative trading volume statistics for the authenticated account.'
      tags:
      - private
      parameters:
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolumeStatsResponse'
  /v1/volume/user/daily:
    get:
      summary: Get user daily volume
      deprecated: false
      description: '**Limit 10 requests per 60 seconds**


        `GET /v1/volume/user/daily`


        Returns the authenticated account''s daily perpetual trading volume for the requested date range.

        '
      tags:
      - private
      parameters:
      - name: start_date
        in: query
        description: Start date in `YYYY-MM-DD` format.
        required: true
        example: ''
        schema:
          type: string
      - name: end_date
        in: query
        description: End date in `YYYY-MM-DD` format.
        required: true
        example: ''
        schema:
          type: string
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DailyVolumeResponse'
  /v1/withdraw_nonce:
    get:
      summary: Get withdrawal nonce
      deprecated: false
      description: '**Limit 10 requests per 1 seconds**


        `GET /v1/withdraw_nonce`


        Retrieves a nonce required to sign a withdrawal request. Each nonce can only be used once.

        '
      tags:
      - private
      parameters:
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WithdrawNonceReponse'
  /v1/settle_nonce:
    get:
      summary: Get settle PnL nonce
      deprecated: false
      description: '**Limit: 10 requests per 1 second**


        `GET /v1/settle_nonce`


        Retrieves a nonce required to sign a PnL settlement request. Each nonce can only be used once.

        '
      tags:
      - private
      parameters:
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettleNonceResponse'
  /v1/withdraw_request:
    post:
      summary: Create withdraw request
      deprecated: false
      description: '**Limit: 10 requests per 1 second per IP address**


        `POST /v1/withdraw_request`


        `verifyingContract` should use: `0x6F7a338F2aA472838dEFD3283eB360d4Dff5D203`.


        If `allowCrossChainWithdraw` is `false` for a cross-chain withdrawal request, the request is rejected.'
      tags:
      - private
      parameters:
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WithdrawRequestBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WithdrawResponse'
  /v1/settle_pnl:
    post:
      summary: Request PnL settlement
      deprecated: false
      description: '**Limit: 1 requests per 1 second**


        `POST /v1/settle_pnl`


        `verifyingContract` should use: `0x6F7a338F2aA472838dEFD3283eB360d4Dff5D203`.

        '
      tags:
      - private
      parameters:
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SettlePnlBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettlePnlResponse'
              examples:
                '1':
                  summary: Successful examples
                  value:
                    success: true
                    data:
                      settle_pnl_id: 889
                    timestamp: 1692246987774
  /v1/pnl_settlement/history:
    get:
      summary: Get PnL settlement history
      deprecated: false
      description: '**Limit: 20 requests per 1 second**


        `GET /v1/pnl_settlement/history`


        Retrieve the historical PnL settlement history of the account.

        '
      tags:
      - private
      parameters:
      - name: start_t
        in: query
        description: ''
        required: false
        example: ''
        schema:
          type: integer
      - name: end_t
        in: query
        description: ''
        required: false
        example: ''
        schema:
          type: integer
      - name: page
        in: query
        description: start from 1
        required: false
        example: ''
        schema:
          type: integer
      - name: size
        in: query
        description: ''
        required: false
        example: ''
        schema:
          type: integer
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PnlSettlementHistoryResponse'
  /v1/internal_transfer:
    post:
      summary: Create internal transfer
      deprecated: false
      description: '**Limit: 10 requests per 1 second**


        `POST /v1/internal_transfer`


        This endpoint will return internal transfer is not available for Delegate Signer account if the `from` is a Delegate Signer account.


        Scenarios where internal transfers are allowed:


        a. Main and sub accounts


        b. Accounts within the same wallet group


        c. Same address across all brokers.


        d. A whitelisted `account_id` can be used as `from address`


        e. If 2 `account_id` are under the same broker_id and the broker_id is whitelisted.

        '
      tags:
      - private
      parameters:
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInternalTransferRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateInternalTransferV1Response'
  /v2/internal_transfer:
    post:
      summary: Create internal transfer with wallet signature
      deprecated: false
      description: '**Limit: 10 requests per 1 second**


        `POST /v2/internal_transfer`

        '
      tags:
      - private
      parameters:
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInternalTransferV2Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateInternalTransferV2Response'
  /v1/transfer_nonce:
    get:
      summary: Get transfer nonce
      deprecated: false
      description: '**Limit: 10 requests per 1 second**


        `GET /v1/transfer_nonce`

        '
      tags:
      - private
      parameters:
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTransferNonceResponse'
  /v1/internal_transfer_history:
    get:
      summary: Get internal transfer history
      deprecated: false
      description: '**Limit: 10 requests per 1 second**


        `GET /v1/internal_transfer_history`


        Orderly key must has `asset` scope to access this endpoint.

        '
      tags:
      - private
      parameters:
      - name: status
        in: query
        description: '`CREATED`/`PENDING`/`COMPLETED`/`FAILED`'
        required: false
        example: ''
        schema:
          type: string
      - name: start_t
        in: query
        description: ''
        required: false
        example: ''
        schema:
          type: string
      - name: end_t
        in: query
        description: ''
        required: false
        example: ''
        schema:
          type: string
      - name: page
        in: query
        description: start from 1
        required: false
        example: ''
        schema:
          type: number
      - name: size
        in: query
        description: ''
        required: false
        example: ''
        schema:
          type: number
      - name: side
        in: query
        description: '`IN`/`OUT`'
        required: true
        example: ''
        schema:
          type: string
      - name: from_account_id
        in: query
        description: ''
        required: false
        example: ''
        schema:
          type: string
      - name: to_account_id
        in: query
        description: ''
        required: false
        example: ''
        schema:
          type: string
      - name: main_sub_only
        in: query
        description: "If True, return only internal transfers between main account and sub accounts. \nIf False, return only internal transfers between main account and other main accounts. \nIf empty, return all transfer history.\n"
        required: false
        example: ''
        schema:
          type: boolean
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetInternalTransferHistoryResponse'
  /v1/client/key_info:
    get:
      summary: Get current Orderly key info
      deprecated: false
      description: '**Limit 10 requests per 60 seconds**


        `GET /v1/client/key_info`


        Retrieves all registered orderly keys under the account.

        '
      tags:
      - private
      parameters:
      - name: key_status
        in: query
        description: 'Filter by orderly key status. Supported values: `ACTIVE`, `REMOVING`, or `REMOVED`.'
        required: false
        example: ''
        schema:
          type: string
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyInfoResponse'
  /v1/client/orderly_key_ip_restriction:
    get:
      summary: Get Orderly key IP restriction
      deprecated: false
      description: '**Limit 10 requests per 60 seconds**


        `GET /v1/client/orderly_key_ip_restriction`


        Retrieves the current IP restriction of a particular Orderly key.

        '
      tags:
      - private
      parameters:
      - name: orderly_key
        in: query
        description: The orderly key to query the IP restriction list
        required: true
        example: ''
        schema:
          type: string
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IpRestrictionResponse'
  /v1/client/set_orderly_key_ip_restriction:
    post:
      summary: Set Orderly key IP restriction
      deprecated: false
      description: '**Limit: 10 requests per 60 seconds**


        `POST /v1/client/set_orderly_key_ip_restriction`


        Set the IP restrictions of a particular Orderly key under the account.

        '
      tags:
      - private
      parameters:
      - name: orderly_key
        in: query
        description: The orderly key to set the IP restriction list.
        required: true
        example: ''
        schema:
          type: string
      - name: ip_restriction_list
        in: query
        description: List of IP addresses or IP ranges, comma separated, that are allowed to use the `orderly_key`.
        required: true
        example: ''
        schema:
          type: string
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetIpRestrictionResponse'
  /v1/client/reset_orderly_key_ip_restriction:
    post:
      summary: Reset Orderly key IP restriction
      deprecated: false
      description: '**Limit: 10 requests per 60 seconds**


        `POST /v1/client/reset_orderly_key_ip_restriction`


        Reset the IP restriction of a particular Orderly key under the account.

        '
      tags:
      - private
      parameters:
      - name: orderly_key
        in: query
        description: The orderly key whose IP restriction will be reset.
        required: true
        example: ''
        schema:
          type: string
      - name: reset_mode
        in: query
        description: Reset mode to apply. Use `ALLOW_ALL_IPS` to remove all IP restrictions, or `DISALLOW_ALL_IPS` to block all IPs for this key.
        required: true
        example: ''
        schema:
          type: string
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicResponse'
  /v1/notification/inbox/notifications:
    get:
      summary: Get all notifications
      deprecated: false
      description: '**Limit: 10 requests per 60 seconds**


        `GET /v1/notification/inbox/notifications`


        Returns notification records for the user.


        Use `type` to filter the categories returned.

        '
      tags:
      - private
      parameters:
      - name: type
        in: query
        description: 'Filter notifications by type: `TRADE` or `SYSTEM`.'
        required: false
        example: ''
        schema:
          type: string
      - name: page
        in: query
        description: start from 1
        required: false
        example: ''
        schema:
          type: number
      - name: size
        in: query
        description: Number of notifications to return per page.
        required: false
        example: ''
        schema:
          type: number
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllNotificationsResponse'
  /v1/notification/inbox/unread:
    get:
      summary: Get unread notifications
      deprecated: false
      description: '**Limit: 10 requests per 60 seconds**


        `GET /v1/notification/inbox/unread`


        Get the information on unread messages for the user.

        '
      tags:
      - private
      parameters:
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnreadNotificationsResponse'
  /v1/notification/inbox/mark_read:
    post:
      summary: Set read status of notifications
      deprecated: false
      description: '**Limit: 10 requests per 60 seconds**


        `POST /v1/notification/inbox/mark_read`


        Set the read status on a list of notifications for a user.

        '
      tags:
      - private
      parameters:
      - name: flag
        in: query
        description: The value of the read flag, where 1 = READ and 0 = UNREAD
        required: true
        example: ''
        schema:
          type: number
      - name: ids
        in: query
        description: The list of notification ids to flag as read/unread.
        required: true
        example: ''
        schema:
          type: array
          items:
            type: string
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicResponse'
  /v1/notification/inbox/mark_read_all:
    post:
      summary: Set read status of all notifications
      deprecated: false
      description: '**Limit: 10 requests per 60 seconds**


        `POST /v1/notification/inbox/mark_read_all`


        Set the read status on all notifications for a user.

        '
      tags:
      - private
      parameters:
      - name: flag
        in: query
        description: The value of the read flag, where 1 = READ and 0 = UNREAD
        required: true
        example: ''
        schema:
          type: number
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicResponse'
  /v1/algo/order:
    post:
      summary: Create algo order
      deprecated: false
      description: '**Limit: 1 request per 1 second**


        `POST /v1/algo/order`


        Place maker/taker order that requires an additional trigger for order execution such as stop orders.


        `STOP` type order bahavior: an order to buy or sell at the market/limit price once the asset has traded at or through a specified price (the "stop price"). If the asset reaches the stop price, the order becomes a market order and is filled at the next available market price.


        To place `Positional TP/SL` order, the input fields is 2 layer and includes an array of the objects named childOrder. The take-profit or stop-loss order should be the objects in the array. For the sub-order in childOrder, please input `CLOSE_POSITION` as type, and `TAKE_PROFIT` or `STOP_LOSS` in algoType field.

        To place `Trailing Stop` order, please use `TRAILING_STOP` as algoType and `MARKET` as type. Please also input your trailing rate setting in callbackRate field.


        Sample request can be found [here](/docs/build-on-omnichain/user-flows/algo-order-samples)


        Note: This endpoint requires trading scope in orderly key.'
      tags:
      - private
      parameters:
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      - $ref: '#/components/parameters/recv_window_header'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                symbol:
                  type: string
                algo_type:
                  type: string
                  description: '`STOP`/`TP_SL`/`POSITIONAL_TP_SL`/`BRACKET`/`BRACKET + TP_SL`/`TRAILING_STOP`'
                client_order_id:
                  type: string
                  description: '36 length, accepts hyphen but cannot be the first character, default: null'
                type:
                  type: string
                  description: '`LIMIT` / `MARKET`, required if `algo_type` = `STOP`'
                price:
                  type: number
                  description: Optional for `TP_SL` and `POSTIONAL_TP_SL`
                quantity:
                  type: number
                  description: For `MARKET`/`ASK`/`BID` order, if order_amount is given, it is not required. Not required if type is `POSITIONAL_TP_SL`.
                trigger_price_type:
                  type: string
                  description: Only `MARK_PRICE` is available for now.
                trigger_price:
                  type: number
                reduce_only:
                  type: boolean
                visible_quantity:
                  type: boolean
                  description: Default false
                side:
                  type: string
                  description: '`SELL`/`BUY`, required if `STOP` type'
                order_tag:
                  type: string
                  description: 'Optional tag for the order. Supports two formats:

                    - Referral code: plain string (e.g., `REFERRAL2026`) - overrides referral relationship

                    - Order tag fee config: `enum:<enum_id>` (e.g., `enum:STRATEGY_DCA`) - adds fee on top of existing fees, preserves referral

                    Max length: 36 characters. Cannot be modified after order placement.

                    '
                child_orders:
                  type: array
                  items:
                    type: object
                    properties:
                      symbol:
                        type: string
                      algo_type:
                        type: string
                      child_orders:
                        type: array
                        items:
                          $ref: '#/components/schemas/CreateAlgoOrderChildRequest'
                        description: Array of `CreateAlgoOrderChildRequest`
                activatedPrice:
                  type: string
                  description: Activated price for algoType=`TRAILING_STOP`
                callbackRate:
                  type: string
                  description: Callback rate, only for algoType=`TRAILING_STOP`, i.e. the value = 0.1 represent to 10%.
                callbackValue:
                  type: string
                  description: Callback value, only for algoType=`TRAILING_STOP`, i.e. the value = 100
                margin_mode:
                  type: string
                  description: 'Margin mode for the order. Default: the symbol''s current default margin mode.'
                  enum:
                  - CROSS
                  - ISOLATED
              example:
              - symbol: PERP_ETH_USDC
                algo_type: BRACKET
                quantity: 0.0032
                side: BUY
                type: LIMIT
                price: 3415.9
                child_orders:
                - symbol: PERP_ETH_USDC
                  algo_type: POSITIONAL_TP_SL
                  child_orders:
                  - symbol: PERP_ETH_USDC
                    algo_type: TAKE_PROFIT
                    side: SELL
                    type: CLOSE_POSITION
                    trigger_price: 3518.4
                    reduce_only: true
                  - symbol: PERP_ETH_USDC
                    algo_type: STOP_LOSS
                    side: SELL
                    type: CLOSE_POSITION
                    trigger_price: 3313.4
                    reduce_only: true
              - symbol: PERP_NEAR_USDC
                algo_type: TP_SL
                quantity: 5.5
                trigger_price_type: MARK_PRICE
                child_orders:
                - symbol: PERP_NEAR_USDC
                  algo_type: TAKE_PROFIT
                  side: SELL
                  type: MARKET
                  trigger_price: 3.365
                  reduce_only: true
                - symbol: PERP_NEAR_USDC
                  algo_type: STOP_LOSS
                  side: SELL
                  type: MARKET
                  trigger_price: 3.36
                  reduce_only: true
              - symbol: PERP_NEAR_USDC
                algo_type: POSITIONAL_TP_SL
                trigger_price_type: MARK_PRICE
                child_orders:
                - symbol: PERP_NEAR_USDC
                  algo_type: TAKE_PROFIT
                  side: SELL
                  type: CLOSE_POSITION
                  trigger_price_type: MARK_PRICE
                  trigger_price: 4.05
                  reduce_only: true
                - symbol: PERP_NEAR_USDC
                  algo_type: STOP_LOSS
                  side: SELL
                  type: CLOSE_POSITION
                  trigger_price_type: MARK_PRICE
                  trigger_price: 3.95
                  reduce_only: true
              required:
              - symbol
              - algo_type
              - quantity
              - side
              - type
              - child_orders
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostAlgoOrderResponse'
    put:
      summary: Edit algo order
      deprecated: false
      description: '**Limit: 5 requests per 1 second**


        `PUT /v1/algo/order`


        Edit a pending algo order by `order_id`. Only the price or quantity can be amended.


        Note: This endpoint requires trading scope in orderly key.'
      tags:
      - private
      parameters:
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                order_id:
                  type: string
                price:
                  type: number
                quantity:
                  type: number
                trigger_price:
                  type: number
                trigger_price_type:
                  type: string
                child_orders:
                  type: array
                  items:
                    $ref: '#/components/schemas/EditAlgoOrderChildRequest'
                  description: Array of `EditAlgoOrderChildRequest`
              required:
              - order_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PutOrderResponse'
    delete:
      summary: Cancel algo order
      deprecated: false
      description: '**Limit: 5 requests per 1 second**


        `DELETE /v1/algo/order?order_id={order_id}&symbol={symbol}`


        Cancels a single algo order by `order_id`.

        '
      tags:
      - private
      parameters:
      - name: symbol
        in: query
        description: Symbol of the algo order to cancel.
        required: true
        example: ''
        schema:
          type: string
      - name: order_id
        in: query
        description: ''
        required: true
        example: ''
        schema:
          type: number
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteOrderResponse'
  /v1/algo/client/order:
    delete:
      summary: Cancel algo order by client_order_id
      deprecated: false
      description: '**Limit: 5 requests per 1 second**


        `DELETE /v1/algo/client/order?client_order_id={client_order_id}&symbol={symbol}`


        Cancel an algo order by `client_order_id`.'
      tags:
      - private
      parameters:
      - name: symbol
        in: query
        description: ''
        required: true
        example: ''
        schema:
          type: string
      - name: client_order_id
        in: query
        description: ''
        required: true
        example: ''
        schema:
          type: string
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteOrderResponse'
  /v1/algo/orders:
    delete:
      summary: Cancel all pending algo orders
      deprecated: false
      description: '**Limit: 5 requests per 1 second**


        `DELETE /v1/algo/orders?symbol={symbol}`


        Cancel all pending algo orders.'
      tags:
      - private
      parameters:
      - name: symbol
        in: query
        description: ''
        required: false
        example: ''
        schema:
          type: string
      - name: algo_type
        in: query
        description: 'Note: `STOP` will cancel both `TAKE_PROFIT` and `STOP_LOSS`'
        required: false
        example: ''
        schema:
          type: string
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteAllPendingAlgoOrderResponse'
    get:
      summary: Get algo orders
      deprecated: false
      description: '**Limit: 5 requests per 1 second**


        `GET /v1/algo/orders`


        Get algo order details by customized filters.


        For filter by status, one can reference special bundled statuses below for ease of access of Open (i.e `INCOMPLETE`) orders or `COMPLETED` orders.


        `INCOMPLETE` = `NEW` + `PARTIAL_FILLED`



        `COMPLETED` = `CANCELLED` + `FILLED`'
      tags:
      - private
      parameters:
      - name: symbol
        in: query
        description: ''
        required: false
        example: ''
        schema:
          type: string
      - name: order_type
        in: query
        description: '`LIMIT`/`MARKET`'
        required: false
        example: ''
        schema:
          type: string
      - name: status
        in: query
        description: '`NEW`/`CANCELLED`/`PARTIAL_FILLED`/`FILLED`/`REJECTED`/`INCOMPLETE`/`COMPLETED`'
        required: false
        example: ''
        schema:
          type: string
      - name: order_tag
        in: query
        description: Filter by a custom tag assigned to the order.
        required: false
        example: ''
        schema:
          type: string
      - name: start_t
        in: query
        description: start time range that wish to query, noted the time stamp is 13-digits timestamp.
        required: false
        example: ''
        schema:
          type: number
      - name: end_t
        in: query
        description: end time range that wish to query, noted the time stamp is 13-digits timestamp.
        required: false
        example: ''
        schema:
          type: number
      - name: page
        in: query
        description: the page you wish to query. start from 1
        required: false
        example: ''
        schema:
          type: number
      - name: size
        in: query
        description: 'the page size you wish to query (max: 500)'
        required: false
        example: ''
        schema:
          type: number
      - name: side
        in: query
        description: '`BUY`/`SELL`'
        required: false
        example: ''
        schema:
          type: string
      - name: algo_type
        in: query
        description: Supported types are `STOP`, `TPSL`, `positional_TPSL`
        required: false
        example: ''
        schema:
          type: string
      - name: is_triggered
        in: query
        description: ''
        required: false
        example: ''
        schema:
          type: string
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlgoOrdersResponse'
  /v1/algo/order/{order_id}:
    get:
      summary: Get algo order by order_id
      deprecated: false
      description: '**Limit: 10 requests per 1 second**


        `GET /v1/algo/order/{order_id}`


        Get details of a single algo order by order_id.'
      tags:
      - private
      parameters:
      - name: order_id
        in: path
        description: id of the order
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlgoOrderResponse'
  /v1/algo/client/order/{client_order_id}:
    get:
      summary: Get algo order by client_order_id
      deprecated: false
      description: '**Limit: 10 requests per 1 second**


        `GET /v1/algo/client/order/{client_order_id}`


        Get details of a single algo order by `client_order_id`.

        '
      tags:
      - private
      parameters:
      - name: client_order_id
        in: path
        description: client_order_id of the order
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlgoClientOrderResponse'
  /v1/algo/order/{order_id}/trades:
    get:
      summary: Get all trades of specific algo order
      deprecated: false
      description: '**Limit: 10 requests per 1 second**


        `GET /v1/algo/order/{order_id}/trades`


        Get specific trades of an algo order by `order_id`.

        '
      tags:
      - private
      parameters:
      - name: order_id
        in: path
        description: ''
        required: true
        schema:
          type: number
      - $ref: '#/components/parameters/orderly_timestamp'
      - $ref: '#/components/parameters/orderly_account_id'
      - $ref: '#/components/parameters/orderly_key'
      - $ref: '#/components/parameters/orderly_signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlgoOrderTradesResponse'
  /v1/volume/broker/daily:
    get:
      summary: Get builder's users' volumes
      deprecated: false
      description: '**Limit 10 requests per 60 seconds**


        `GET /v1/volume/broker/daily`


        Get the daily historical breakdown of the user trading volume on specified builder.


        The provided `start_date`/`end_date` has to be within a 90-day range.

        Updated hourly

        '
      tags:
      - private
      parameters:
      - name: start_date
        in: query
        description: Format YYYY-MM-DD
        required: true
        example: ''
        schema:
          type: string
      - name: end_date
        in: query
        description: Format YYYY-MM-DD
        required: true
        example: ''
        schema:
          type: string
      - name: page
        in: query
        description: start from 1
        required: false
        example: ''
        schema:
          type: number
      - name: size
        in: query
        required: false
        example: ''
        schema:
          type: number
      - name: address
        in: query
        description: ''
        required: false
        example: ''
        schema:
          type: string
      - name: order_tag
        in: query
        description: Filter by a custom tag assigned to the order.
        required: false
        example: ''
        schema:
          type: string
      - name: aggregateBy
        in: query
        description: Either by `DATE` or by `ACCOUNT`
        required: false
        example: ''
        schema:
          type: string
      - name: sort
        in: query
        description: 'Allow sort by


          `ascending_broker_fee`

          `descending_broker_fee`

          `ascending_perp_maker_volume`

          `descending_perp_maker_volume`

          `ascending_perp_taker_volume`

          `descending_perp_taker_volume`

          `ascending_perp_volume`

          `descending_perp_volume`

          `ascending_total_fee`

          `descending_total_fee`

          '
        required: false
        schema:
          type: string
      - name: orderly-timestamp
        in: header
        description: ''
        required: true
        example: '1649920583000'
        schema:
          type: string
      - name: orderly-account-id
        in: header
        description: ''
        required: true
        example: '0x0f29bfb4c1bc9fea3f3be46bab6d795e22a6272354b136fde05f6b80cfcad546'
        schema:
          type: string
      - name: orderly-key
        in: header
        description: ''
        required: true
        example: ed25519:8tm7dnKYkSc3FzgPuJaw1wztr79eeZpN35nHW5pL5XhX
        schema:
          type: string
      - name: orderly-signature
        in: header
        description: ''
        required: true
        example: dG4bkKiqG0dUYLzViRZkvbI6Sy239JxAdNMIBxFZ4w030Jofr0ORV06GHtvXZkaZaWUXE+XAU3fnzKN/5fDeBQ==
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBrokerDailyResponse'
  /v1/broker/leaderboard/daily:
    get:
      summary: Get builder's leaderboard
      deprecated: false
      description: '**Limit 10 requests per 60 seconds**


        `GET /v1/broker/leaderboard/daily`


        The provided `start_date`/`end_date` has to be within a 90-day range.


        Updated hourly

        '
      tags:
      - private
      parameters:
      - name: start_date
        in: query
        description: Format YYYY-MM-DD
        required: true
        example: ''
        schema:
          type: string
      - name: end_date
        in: query
        description: Format YYYY-MM-DD
        required: true
        example: ''
        schema:
          type: string
      - name: page
        in: query
        description: start from 1
        required: false
        example: ''
        schema:
          type: number
      - name: size
        in: query
        required: false
        example: ''
        schema:
          type: number
      - name: order_tag
        in: query
        description: Filter by a custom tag assigned to the order.
        required: false
        example: ''
        schema:
          type: string
      - name: broker_id
        in: query
        description: if the broker_id is empty, return all users
        required: false
        example: ''
        schema:
          type: string
      - name: sort
        in: query
        description: 'Allow sort by


          `ascending_realized_pnl`

          `descending_realized_pnl`

          `ascending_perp_volume`

          `descending_perp_volume`

          '
        required: false
        schema:
          type: string
      - name: address
        in: query
        description: ''
        required: false
        example: ''
        schema:
          type: string
      - name: aggregateBy
        in: query
        description: '`address`: Sum the value across all builders.

          `address_per_builder`: Sum the value separately for each builder.

          '
        required: false
        example: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
[...]
